/config/i3/share/default_wallpaper.png
/config/zathura/zathurarc.bak
/config/picom/picom.conf
/config/flashfocus/flashfocus.yml
/config/spotify-tui/.spotify_token_cache.json
/config/spotify-tui/client.yml
/config/ncspot/userstate.cbor
/config/vis/vis.log
