# ~/.config/i3/config.d/i3_bindkey.config
# vim: syntax=i3 ft=i3 ff=unix
# ======================================================================================
# All About Bindkeys
# ======================================================================================
# This is to save all bindkeys of programs

# Reload this configuration file
bindsym Mod4+r reload
# Restart whole i3 session
bindsym Mod4+Shift+r restart

# Common program shortcut
# 1 - Text Editor: neovim [Installation: dnf install neovim]
bindsym Ctrl+Mod1+1       exec --no-startup-id $terminal -e nvim
bindsym Ctrl+Mod1+Shift+1 exec --no-startup-id $I3_SCRIPT/i3_kitty_operator.sh attach_to_tmux_session nvim
# 2 - File Manager (TUI): ranger [Installation: dnf install ranger]
bindsym Ctrl+Mod1+2       exec --no-startup-id $terminal -e ranger
bindsym Ctrl+Mod1+Shift+2 exec --no-startup-id $I3_SCRIPT/i3_kitty_operator.sh attach_to_tmux_session ranger
# 3 - Media: pulsemixer [Installation: pip install pulsemixer]
bindsym Ctrl+Mod1+3       exec --no-startup-id $terminal -e pulsemixer
bindsym Ctrl+Mod1+Shift+3 exec --no-startup-id kitty --class floating_kitty -e pulsemixer
# 4 - System Monitor: htop [Installation: dnf install htop]
bindsym Ctrl+Mod1+4       exec --no-startup-id $terminal -e htop
bindsym Ctrl+Mod1+Shift+4 exec --no-startup-id kitty --class floating_kitty -e htop
# 5 - Networkmanager TUI: nmtui [Bundled with NetworkManager]
bindsym Ctrl+Mod1+5       exec --no-startup-id $terminal -e nmtui
bindsym Ctrl+Mod1+Shift+5 exec --no-startup-id kitty --class floating_kitty -e nmtui
# 6 - Visualizer: cava [Installation: dnf install cava]
bindsym Ctrl+Mod1+6       exec --no-startup-id $terminal -e cava
bindsym Ctrl+Mod1+Shift+6 exec --no-startup-id kitty --class floating_kitty -e cava
# 7 - Music Steamer (TUI): spt (spotify TUI front-end)
bindsym Ctrl+Mod1+7       exec --no-startup-id $terminal -e spotify_tui.sh
bindsym Ctrl+Mod1+Shift+7 exec --no-startup-id kitty --class floating_kitty -e spotify_tui.sh
# 8 - PDF Viewer: zathura [Installation: dnf install zathura]
bindsym Ctrl+Mod1+8 exec --no-startup-id zathura
# 9 - Bluetooth Manager: blueman [Installation: dnf install blueman]
bindsym Ctrl+Mod1+9 exec --no-startup-id blueman-manager
# 0 - File Manager (GUI): neutilus [Installation: dnf install nautilus]
bindsym Ctrl+Mod1+0 exec --no-startup-id nautilus
# - (minus) - Web Browser: brave-browser (google-chromium based)
bindsym Ctrl+Mod1+minus exec --no-startup-id brave-browser
# = (equal) - Web Browser: firefox
bindsym Ctrl+Mod1+equal exec --no-startup-id firefox

# Use pactl to adjust volume in PulseAudio.
# -- For advanced modification, check pulsemixer or alsamixer
bindsym XF86AudioMicMute          exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86AudioMute             exec pactl set-sink-mute @DEFAULT_SINK@ toggle && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym Ctrl+XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +1% && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym Ctrl+XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -1% && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym XF86AudioRaiseVolume      exec pactl set-sink-volume @DEFAULT_SINK@ +5% && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym XF86AudioLowerVolume      exec pactl set-sink-volume @DEFAULT_SINK@ -5% && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym Mod1+XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +10% && $I3_SCRIPT/i3_pulsemixer_notification.sh
bindsym Mod1+XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -10% && $I3_SCRIPT/i3_pulsemixer_notification.sh

# Media player control
bindsym XF86AudioPlay        exec playerctl play-pause && $I3_SCRIPT/i3_MPRIS_notification.sh
bindsym XF86AudioPause       exec playerctl play-pause && $I3_SCRIPT/i3_MPRIS_notification.sh
bindsym Shift+XF86AudioPause exec playerctl stop
bindsym XF86AudioStop        exec playerctl stop
bindsym XF86AudioNext        exec playerctl next && $I3_SCRIPT/i3_MPRIS_notification.sh
bindsym XF86AudioPrev        exec playerctl previous && $I3_SCRIPT/i3_MPRIS_notification.sh
# Media player control for spt (spotify TUI front-end)
bindsym Ctrl+XF86AudioPlay  exec playerctl -p $(spt playback -f %d) play-pause
bindsym Ctrl+XF86AudioPause exec playerctl -p $(spt playback -f %d) play-pause
bindsym Ctrl+XF86AudioStop  exec playerctl -p $(spt playback -f %d) stop
bindsym Ctrl+XF86AudioNext  exec playerctl -p $(spt playback -f %d) next
bindsym Ctrl+XF86AudioPrev  exec playerctl -p $(spt playback -f %d) previous
# Media player control for vlc
bindsym Mod1+XF86AudioPlay  exec playerctl -p vlc play-pause
bindsym Mod1+XF86AudioPause exec playerctl -p vlc play-pause
bindsym Mod1+XF86AudioStop  exec playerctl -p vlc stop
bindsym Mod1+XF86AudioNext  exec playerctl -p vlc next
bindsym Mod1+XF86AudioPrev  exec playerctl -p vlc previous
# Media player control for all players
bindsym Ctrl+Mod1+XF86AudioPlay       exec playerctl -a play-pause
bindsym Ctrl+Mod1+Shift+XF86AudioPlay exec playerctl -a stop
bindsym Ctrl+Mod1+XF86AudioStop       exec playerctl -a stop

# Keyboard backlight control for X window system
# -- https://github.com/alberto-santini/i3-configuration-x1
# -- https://askubuntu.com/questions/715306/xbacklight-no-outputs-have-backlight-property-no-sys-class-backlight-folder
bindsym Ctrl+XF86MonBrightnessDown exec $I3_SCRIPT/i3_backlight_operator.sh dec_xbacklight 1
bindsym Ctrl+XF86MonBrightnessUp   exec $I3_SCRIPT/i3_backlight_operator.sh inc_xbacklight 1
bindsym XF86MonBrightnessDown      exec $I3_SCRIPT/i3_backlight_operator.sh dec_xbacklight 5
bindsym XF86MonBrightnessUp        exec $I3_SCRIPT/i3_backlight_operator.sh inc_xbacklight 5
bindsym Mod1+XF86MonBrightnessDown exec $I3_SCRIPT/i3_backlight_operator.sh dec_xbacklight 10
bindsym Mod1+XF86MonBrightnessUp   exec $I3_SCRIPT/i3_backlight_operator.sh inc_xbacklight 10

# Rofi selector [can be configured in $HOME/.config/rofi/*]
# Application/Executable selector
bindsym Mod4+d       exec rofi -show drun -terminal $terminal
bindsym Mod4+Shift+d exec rofi -show run -terminal $terminal
# Window selector (window, GNOME application selector keybinding compatibility)
bindsym Mod1+Tab       exec rofi -show window -config "$HOME/.config/rofi/config_singlecol.rasi" -i -auto-select -terminal $terminal
bindsym Mod1+Shift+Tab exec rofi -show window -config "$HOME/.config/rofi/config_singlecol.rasi" -i -auto-select -terminal $terminal
# Window selector (windowcd, GNOME current type application selector keybinding compatibility, with workspace thumbnails)
bindsym Mod1+q       exec rofi -show windowcd -config "$HOME/.config/rofi/config_window_thumbnail.rasi" -i -auto-select -terminal $terminal
bindsym Mod1+Shift+q exec rofi -show windowcd -config "$HOME/.config/rofi/config_window_thumbnail.rasi" -i -auto-select -terminal $terminal
# Scratchpad selector
bindsym Ctrl+Mod1+Tab exec $I3_SCRIPT/i3_scratchpad_operator.sh select
bindsym Ctrl+Mod1+z   exec $I3_SCRIPT/i3_scratchpad_operator.sh select_and_send_focus_if_no_one_to_select
# File browser
bindsym Ctrl+Mod1+d exec rofi -modi filebrowser -show filebrowser -auto-select -terminal $terminal
# i3 keybindings hinter
# -- https://www.reddit.com/r/i3wm/comments/e1x9n6/keybindings_menu_not_dmenurofi/
bindsym Mod4+Shift+slash exec \
    i3 $(cat ~/.config/i3/config.d/* | grep '^bindsym' | grep -v '^\s*#' | \
    sed 's/bindsym / /' | rofi -config "$HOME/.config/rofi/config_singlecol.rasi" \
    -dmenu -i -p 'i3 Keybinds' | sed 's/^\s*//' | cut -d' ' -f 2- )
# Rofi bindkey hinter
bindsym Ctrl+Mod1+Shift+slash exec rofi -modi keys -show keys -config "$HOME/.config/rofi/config_singlecol.rasi" -i -terminal $terminal
# Vim clipboard Manager, requires following vim plug-in
# -- https://github.com/vim-scripts/YankRing.vim
# -- https://github.com/szw/vim-maximizer
bindsym Ctrl+Mod1+slash exec kitty --class floating_kitty -e nvim -c :YRShow -c :Maximize

# Extra miscellaneous keybindings for X window system (mostly special keys on laptop)
bindsym XF86Tools      exec $terminal
bindsym XF86Display    exec arandr
bindsym XF86Favorites  exec nautilus
bindsym XF86Calculator exec gnome-calculator
bindsym XF86Mail       exec mailspring
bindsym XF86Explorer   exec brave-browser
bindsym XF86Search     exec rofi -show drun -terminal $terminal

# Start a terminal
bindsym Mod4+Return exec $terminal

# Start a floating terminal (kitty terminal emulator)
bindsym Mod4+Shift+Return exec kitty --class floating_kitty

# Start kitty terminal and connect to tmux session
bindsym Ctrl+Mod1+Return exec --no-startup-id $I3_SCRIPT/i3_kitty_operator.sh attach_to_selected_tmux_session

# Kill focused window
bindsym Mod4+Shift+q kill

# Exit i3
bindsym Ctrl+Mod1+q exec "i3-nagbar -f 'pango:$default_font $default_i3bar_fontsize' -t warning \
                            -m 'Do you really want to exit i3? This will end your X session.' \
                            -B 'Yes, exit i3' 'i3-msg exit'"

# Focus the parent/child container
bindsym Mod4+a       focus parent
bindsym Mod4+Shift+a focus child

# Open empty window/container
bindsym Mod4+o exec i3-msg open

# Vim-key: change focus
bindsym Mod4+h focus left, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
bindsym Mod4+j focus down, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
bindsym Mod4+k focus up, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
bindsym Mod4+l focus right, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
# Vim-key: move focused window (px for floating window)
bindsym Mod4+Shift+h move left 50px
bindsym Mod4+Shift+j move down 50px
bindsym Mod4+Shift+k move up 50px
bindsym Mod4+Shift+l move right 50px
# Vim-key: move focused window (smaller step for floating window)
bindsym Mod4+Ctrl+Shift+h move left
bindsym Mod4+Ctrl+Shift+j move down
bindsym Mod4+Ctrl+Shift+k move up
bindsym Mod4+Ctrl+Shift+l move right

# Arrow-key: change focus
bindsym Mod4+Left  focus left
bindsym Mod4+Down  focus down
bindsym Mod4+Up    focus up
bindsym Mod4+Right focus right
# Arrow-key: move focused window
bindsym Mod4+Shift+Left  move left
bindsym Mod4+Shift+Down  move down
bindsym Mod4+Shift+Up    move up
bindsym Mod4+Shift+Right move right

# Full screen mode
# Toggle full screen
bindsym Mod4+f       fullscreen toggle
bindsym Mod4+Shift+f fullscreen toggle global
# Make window float and resize to fulfill current workspace
bindsym Ctrl+Mod1+f exec $I3_SCRIPT/i3_window_operator.sh float_then_fulfill_workspace

# Floating mode
# Change focus between tiling/floating windows
bindsym Mod4+space focus mode_toggle
# Toggle tiling/floating
bindsym Mod4+Shift+space floating toggle
# Toggle stickiness of floating window (window stick to current display, a.k.a always on-the-top)
bindsym Mod4+Shift+s exec $I3_SCRIPT/i3_window_operator.sh toggle_sticky_current; exec flash_window

# Tiling mode
# Change container layout (stacking, tabbed, splitv, splith)
bindsym Mod4+Shift+e layout toggle splitv splith tabbed stacking; exec flash_window
# Change container layout (stacking, tabbed, toggle split)
bindsym Mod4+s layout stacking; exec flash_window
bindsym Mod4+w layout tabbed; exec flash_window
bindsym Mod4+e layout toggle splitv splith; exec flash_window
# Change split direction (vertical, horizontal)
bindsym Mod4+v       split vertical; exec flash_window
bindsym Mod4+Shift+v split horizontal; exec flash_window
# Change container split direction (vertical, horizontal)
bindsym Mod4+q         split toggle; exec flash_window
bindsym Mod4+backslash split toggle; exec flash_window

# Title bar toggle
bindsym Mod4+t border toggle $default_border_width

# Mark mode [use rofi as input]
# Mark current window with input character
bindsym Mod4+m exec $I3_SCRIPT/i3_mark_operator.sh mark rofi none title_on
# Unmark window with input character
bindsym Mod4+u       exec $I3_SCRIPT/i3_mark_operator.sh unmark rofi none title_on
bindsym Mod4+Shift+u exec $I3_SCRIPT/i3_mark_operator.sh unmark_all_automark_and_remark none none title_off
bindsym Ctrl+Mod1+u  exec $I3_SCRIPT/i3_mark_operator.sh unmark_all rofi none title_off
# Go to the window with input mark character
bindsym Mod4+apostrophe       exec $I3_SCRIPT/i3_mark_operator.sh goto rofi none title_on
bindsym Mod4+Shift+apostrophe exec $I3_SCRIPT/i3_mark_operator.sh goto rofi none title_off
bindsym Ctrl+Mod1+apostrophe  exec $I3_SCRIPT/i3_mark_operator.sh show_then_goto rofi none title_off
# Swap current window with input mark character (but focus stays)
bindsym Mod4+semicolon       exec $I3_SCRIPT/i3_mark_operator.sh swap rofi stay title_on
bindsym Mod4+Shift+semicolon exec $I3_SCRIPT/i3_mark_operator.sh swap rofi stay title_off
bindsym Ctrl+Mod1+semicolon  exec $I3_SCRIPT/i3_mark_operator.sh show_then_swap rofi stay title_off

# Cycle window focus with automarks (increasingly/decreasingly)
bindsym Mod4+n exec $I3_SCRIPT/i3_automark_operator.sh cycle_focus_inc
bindsym Mod4+i exec $I3_SCRIPT/i3_automark_operator.sh cycle_focus_dec
# Swap window with automarks (increasingly/decreasingly)
bindsym Mod4+Shift+n exec $I3_SCRIPT/i3_automark_operator.sh cycle_swap_inc
bindsym Mod4+Shift+i exec $I3_SCRIPT/i3_automark_operator.sh cycle_swap_dec

# Scratchpad (i3 background workspace)
# Scratchpad: hide/show window (minus is "-" key but plus is actually "=" key.)
bindsym Mod4+minus move scratchpad
bindsym Mod4+plus  scratchpad show
# Scratchpad: send all floating windows to the scratchpad and vice versa
bindsym Mod4+Shift+minus [floating] move scratchpad
bindsym Mod4+Shift+plus  [all] scratchpad show

# Scratchpad (i3 background workspace)
# Scratchpad: hide/show window
bindsym Mod4+z move scratchpad
bindsym Mod4+g scratchpad show
# Scratchpad: send all floating windows to the scratchpad and vice versa
bindsym Mod4+Shift+z [floating] move scratchpad
bindsym Mod4+Shift+g [all] scratchpad show

# Resize window with hotkey (px/ppt for floating/tiling window)
bindsym Ctrl+Mod1+h resize shrink width 50 px or 5 ppt
bindsym Ctrl+Mod1+j resize shrink height 50 px or 5 ppt
bindsym Ctrl+Mod1+k resize grow height 50 px or 5 ppt
bindsym Ctrl+Mod1+l resize grow width 50 px or 5 ppt

# Change window geometry (size/location)
bindsym Mod4+c     exec $I3_SCRIPT/i3_window_operator.sh resize_to_input_and_move_floating_to_input
bindsym Mod4+slash exec $I3_SCRIPT/i3_window_operator.sh resize_to_input_and_move_floating_to_input_in_one

# Dunst shortcuts
bindsym Ctrl+space       exec dunstctl close
bindsym Ctrl+Shift+space exec dunstctl history-pop
bindsym Mod1+space       exec dunstctl close
bindsym Mod1+Shift+space exec dunstctl history-pop

# Input method (ibus)
# Change ibus engine
bindsym Ctrl+Mod1+space exec $I3_SCRIPT/i3_languagechanger.sh
# Disable full character mode of ibus-chewing by default
bindsym Shift+space exec notify-send -u low "ibus-chewing Input Method" "Full character keybind is disabled\nUse system tray or i3 insert mode\nto enable full character usage"

# Screenshot tools (gnome-screenshot + flameshot)
bindsym --release Print  exec flameshot gui -p $HOME/Pictures
bindsym Mod4+Print       exec gnome-screenshot -w
bindsym Mod4+Shift+Print exec gnome-screenshot -i

# Disable default mouse button keybindings in i3 (e.g. button3 is mapped for resizing by default)
bindsym button2 nop
bindsym button3 nop

# Mouse middle button (touchpad 3-finger tap) over a titlebar kills the window
# The middle button and a modifier over any part of the window kills the window
bindsym --release button2           kill
bindsym --whole-window Mod4+button2 kill

# Mouse right button (touchpad 2-finger tap) toggles window floating
bindsym --release button3           floating toggle
bindsym --whole-window Mod4+button3 floating toggle

# Mouse wheel scroll up/down (touchpad 2-finger swipe down/up) toggles window titlebar
bindsym --border button4 border normal $default_border_width
bindsym --border button5 border pixel $default_border_width

# Mouse thumb button up/down (button8/button9)
bindsym Ctrl+button8 exec unclutter --timeout 3 --start-hidden
bindsym Ctrl+button9 exec killall unclutter
