# ~/.config/i3/config.d/i3_bar.config
# vim: syntax=i3 ft=i3 ff=unix
# ======================================================================================
# All About i3bar Settings
# ======================================================================================
# Start i3bar to display status includes workspace and system information from bumblebee
# status. For i3bar theme configuration, check the online color palette configurer
# -- https://thomashunter.name/i3-configurator/

# Status bar for general status information
bar {
    # Bar property
    id bar_status
    # Bar position
    position $default_i3bar_position
    # Bar visibility
    mode $default_i3bar_mode
    # Bar over window
    hidden_state hide
    ## Bar output display
    #output primary
    # Height in pixels (ONLY for i3-gaps, but i3-gaps has been merged to i3 in i3 v4.22)
    height $default_i3bar_height
    # Modifier (show bar when pressing)
    modifier Mod4
    # Mode indicator (show i3 mode text)
    binding_mode_indicator no
    # Font
    font pango: $default_font $default_i3bar_fontsize
    # Workspace indicator
    workspace_buttons yes
    workspace_min_width 20
    strip_workspace_numbers yes
    strip_workspace_name no
    # Tray icon
    tray_output primary
    tray_padding 5
    # Bumblebee-status
    status_command bumblebee-status \
        -m \
            title \
            network_traffic \
            sensors \
            cpu \
            memory \
            pasink \
            pasource \
            brightness \
            time \
            date \
            battery \
        -p \
            title.max=128 \
            home.path=/home \
            time.format="%H:%M" \
            date.format="%a, %b/%d/%Y" \
            memory.format="{percent:03.01f}%" \
            disk.format="{percent:05.02f}%" \
            pasink.percent_change=1 \
            pasource.percent_change=1 \
            brightness.step=1 \
        -t i3bar-wal # bumblebee-status theme
    # bar_status workspace color
    colors{
        background $bg
        statusline $fg
        separator  $bg
        # item             border    bground   text
        focused_workspace  $c0       $c11      $c15
        active_workspace   $c11      $c8       $c15
        inactive_workspace $c0       $c8       $c15
        urgent_workspace   $c1       $c15      $c0
        binding_mode       $bg       $bg       $fg
    }
}

# Status bar for mode indication
bar {
    # Bar property
    id bar_mode
    position $default_i3bar_position
    mode hide
    hidden_state hide
    height $default_i3bar_height
    modifier none
    binding_mode_indicator yes
    font pango: $default_font $default_i3bar_fontsize
    workspace_buttons yes
    strip_workspace_numbers yes
    strip_workspace_name no
    tray_output none
    # bar_mode workspace color
    colors{
        background $bg
        statusline $fg
        separator  $bg
        # item             border    bground   text
        focused_workspace  $c0       $c11      $c15
        active_workspace   $c11      $c8       $c15
        inactive_workspace $c0       $c8       $c15
        urgent_workspace   $c1       $c15      $c0
        binding_mode       $bg       $bg       $fg
    }
}

# Bar mode for i3bar bar_status
set $mode_i3bar i3bar: [1/2]:bar dock/hide [3/4]:bar_hidden_state show/hide [r]eload_bar [s]et_bar_default_option
bindsym Mod4+Shift+b mode "$mode_i3bar"
mode "$mode_i3bar" {
    bindsym 1 exec $I3_SCRIPT/i3_bar_operator.sh bar_dock; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_bar_operator.sh bar_hide; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_bar_operator.sh bar_hidden_state_show; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_bar_operator.sh bar_hidden_state_hide; mode "default"
    bindsym r exec $I3_SCRIPT/i3_bar_operator.sh bar_reload; mode "default"
    bindsym s mode "$mode_i3bar_option"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# i3bar option mode (within i3bar mode)
set $mode_i3bar_option i3bar default option: [1/2]:bar_mode dock/hide [3/4]:bar_position top/bottom [5]:bar_fontsize [6]:bar_height [7]:bar_theme
mode "$mode_i3bar_option" {
    bindsym 1 exec $I3_SCRIPT/i3_bar_operator.sh default_mode_dock; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_bar_operator.sh default_mode_hide; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_bar_operator.sh default_pos_top; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_bar_operator.sh default_pos_bottom; mode "default"
    bindsym 5 mode "$mode_i3bar_fontsize"
    bindsym 6 mode "$mode_i3bar_height"
    bindsym 7 mode "$mode_i3bar_theme"
    # Back to i3bar mode: "Enter"
    bindsym Return mode "$mode_i3bar"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# i3bar fontsize mode (within i3bar option mode)
set $mode_i3bar_fontsize i3bar fontsize: [1]:8pix [2]:9pix [3]:10pix [4]:11pix [5]:12pix [6]:13pix [7]:14pix [8]:15pix [9]:16pix [i]nput
mode "$mode_i3bar_fontsize" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 8; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 9; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 10; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 11; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 12; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 13; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 14; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 15; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize 16; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_fontsize input; mode "default"
    # Back to i3bar option mode: "Enter"
    bindsym Return mode "$mode_i3bar_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# i3bar height mode (within i3bar option mode)
set $mode_i3bar_height i3bar height: [1]:20pix [2]:25pix [3]:30pix [4]:35pix [i]nput (Please set default mode to hide before any modification)
mode "$mode_i3bar_height" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_height 20; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_height 25; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_height 30; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_height 35; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh i3bar_height input; mode "default"
    # Back to i3bar option mode: "Enter"
    bindsym Return mode "$mode_i3bar_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# i3bar theme mode (within i3bar option mode)
set $mode_i3bar_theme i3bar theme: [1]:pywal [2]:i3
mode "$mode_i3bar_theme" {
    bindsym 1 exec $I3_SCRIPT/i3_bar_decorator.sh pywal; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_bar_decorator.sh i3 ; mode "default"
    # Back to i3bar option mode: "Enter"
    bindsym Return mode "$mode_i3bar_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Toggle i3bar bar_status
bindsym Mod4+b exec $I3_SCRIPT/i3_bar_operator.sh bar_toggle
# Toggle i3bar bar_mode
bindsym Ctrl+Mod1+b bar mode toggle bar_mode
