# ~/.config/i3/config.d/i3_custom.config
# vim: syntax=i3 ft=i3 ff=unix
# ======================================================================================
# All About Customization
# ======================================================================================
# Customization includes wallpaper, theme, and visual effects (e.g. blur/animation)

# Customization mode (wrapper for wallpaper_mode, theme mode, and picom_mode)
set $mode_customization Customization: [b]order [c]onky [d]unst [p]icom [f]lashfocus [t]heme [w]allpaper [v]ariety [r]eload
bindsym Mod4+Shift+c mode "$mode_customization"
mode "$mode_customization" {
    bindsym b mode "$mode_border"
    bindsym c mode "$mode_conky"
    bindsym d mode "$mode_dunst_option"
    bindsym p mode "$mode_picom"
    bindsym f mode "$mode_flashfocus"
    bindsym t mode "$mode_theme"
    bindsym w mode "$mode_wallpaper"
    bindsym v mode "$mode_variety"
    bindsym r mode "$mode_reload"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# NOTE: Wallpaper mode (local wallpaper support)
# [Important]: Wallpaper directory (Add below lines in .profile)
#              Please change to directories where you store wallpaper.
#              Feel free to modify these wallpaper directories as you want.
# --------------------------------------------------------------------------------------
#export WALLPAPERI3="$HOME/.config/i3/share"
#export WALLPAPERV="$HOME/Pictures/VARIETY_SAVED"
#export WALLPAPERD="$HOME/Pictures/WALLPAPERS"
#export WALLPAPERF="$WALLPAPERD/FAVORITES"
#export WALLPAPER1="$WALLPAPERD/I3WM"
#export WALLPAPER2="$WALLPAPERD/FEDORA"
#export WALLPAPER3="$WALLPAPERD/ALMA"
#export WALLPAPER4="$WALLPAPERD/CATS"
#export WALLPAPER5="$WALLPAPERD/LINUX"
#export WALLPAPER6="$WALLPAPERD/THINKPAD"
#export WALLPAPER7="$WALLPAPERD/WINDOWS11"
#export WALLPAPER8="$WALLPAPERD/DT_WALLPAPERS"
#export WALLPAPER9="$WALLPAPERD/MISCELLANEOUS"
# --------------------------------------------------------------------------------------

# Wallpaper mode (within customization mode)
set $mode_wallpaper Wallpaper: [i]nfo [(Shift)+1/2/3/4/5/6/7/8/9/d/a]:(select)/random from WALLPAPER#/default/all [Ctrl+s/d]:save to_favorite/as_default [r]estore_to_default [t]heme
mode "$mode_wallpaper" {
    # Show current wallpaper information
    bindsym i exec $I3_SCRIPT/i3_wallpaper_operator.sh feh show_current
    # Select random wallpapers from $WALLPAPER#, default, favorite and all
    bindsym 1 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER1
    bindsym 2 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER2
    bindsym 3 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER3
    bindsym 4 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER4
    bindsym 5 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER5
    bindsym 6 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER6
    bindsym 7 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER7
    bindsym 8 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER8
    bindsym 9 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPER9
    bindsym d exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPERI3
    bindsym f exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPERF
    bindsym a exec $I3_SCRIPT/i3_wallpaper_operator.sh feh random $WALLPAPERD
    # Select wallpaper from $WALLPAPER#, default, favorite and all
    bindsym Shift+1 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER1
    bindsym Shift+2 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER2
    bindsym Shift+3 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER3
    bindsym Shift+4 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER4
    bindsym Shift+5 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER5
    bindsym Shift+6 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER6
    bindsym Shift+7 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER7
    bindsym Shift+8 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER8
    bindsym Shift+9 exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPER9
    bindsym Shift+d exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPERI3
    bindsym Shift+f exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPERF
    bindsym Shift+a exec $I3_SCRIPT/i3_wallpaper_operator.sh feh select $WALLPAPERD
    # Wallpaper options
    bindsym r      exec $I3_SCRIPT/i3_wallpaper_operator.sh feh restore_default
    bindsym Ctrl+s exec $I3_SCRIPT/i3_wallpaper_operator.sh feh save_current
    bindsym Ctrl+d exec $I3_SCRIPT/i3_wallpaper_operator.sh feh set_default
    # Theme mode
    bindsym t mode "$mode_theme"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Variety mode (within customization mode)
set $mode_variety Variety: [i]nfo [p]revious [n]ext [Ctrl+s/d]:save to_favoriate/as_default [(Shift)+f/a]:(select)/shuffle favorite/all_downloaded [P]ause [R]esume [q]uit [t]heme
mode "$mode_variety" {
    # Show current Variety info
    bindsym i exec $I3_SCRIPT/i3_wallpaper_operator.sh variety show_current
    # Previous/Next Variety
    bindsym p exec $I3_SCRIPT/i3_wallpaper_operator.sh variety previous
    bindsym n exec $I3_SCRIPT/i3_wallpaper_operator.sh variety next
    # Random/Select Variety favriote
    bindsym f       exec $I3_SCRIPT/i3_wallpaper_operator.sh variety random $WALLPAPERV
    bindsym Shift+f exec $I3_SCRIPT/i3_wallpaper_operator.sh variety select $WALLPAPERV
    # Random/Select Variety downloaded
    bindsym a       exec $I3_SCRIPT/i3_wallpaper_operator.sh variety random $HOME/.config/variety/Downloaded
    bindsym Shift+a exec $I3_SCRIPT/i3_wallpaper_operator.sh variety select $HOME/.config/variety/Downloaded
    # Variety options
    bindsym Shift+p exec $I3_SCRIPT/i3_wallpaper_operator.sh variety pause
    bindsym Shift+r exec $I3_SCRIPT/i3_wallpaper_operator.sh variety resume
    bindsym Ctrl+s  exec $I3_SCRIPT/i3_wallpaper_operator.sh variety save_current
    bindsym Ctrl+d  exec $I3_SCRIPT/i3_wallpaper_operator.sh variety set_default
    bindsym q       exec $I3_SCRIPT/i3_wallpaper_operator.sh variety quit
    # Theme mode
    bindsym t mode "$mode_theme"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Border mode (within customization mode)
set $mode_border Border: [1]:border_width [2]:border_option [3]:border_colorscheme
mode "$mode_border" {
    bindsym 1 mode "$mode_border_width"
    bindsym 2 mode "$mode_border_option"
    bindsym 3 mode "$mode_border_colorscheme"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Border width mode (within border mode)
set $mode_border_width Border width: [1]:1pix [2]:2pix [3]:3pix [4]:4pix [5]:5pix [9]:10pix [0]:no_border [r]estore_to_default [s]et_default_border_width
mode "$mode_border_width" {
    bindsym 1 border pixel 1
    bindsym 2 border pixel 2
    bindsym 3 border pixel 3
    bindsym 4 border pixel 4
    bindsym 5 border pixel 5
    bindsym 9 border pixel 10
    bindsym 0 border none
    bindsym r border $default_titlebar_style $default_border_width
    bindsym s mode "$mode_set_border"
    # i3 keybindings compatibility: change focus and move cursor to the center of focus window
    bindsym Mod4+h focus left, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
    bindsym Mod4+j focus down, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
    bindsym Mod4+k focus up, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
    bindsym Mod4+l focus right, exec $I3_SCRIPT/i3_cursor_operator.sh move_cursor_inside_window
    # i3 keybindings compatibility: change focus between tiling/floating windows
    bindsym Mod4+space focus mode_toggle
    # Back to border mode: "Enter"
    bindsym Return mode "$mode_border"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set default border width mode (within border width mode)
set $mode_set_border Set default border width: [1]:1pix [2]:2pix [3]:3pix [4]:4pix [5]:5pix [9]:10pix [0]:no_border [i]nput
mode "$mode_set_border" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 1; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 2; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 3; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 4; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 5; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 10; mode "default"
    bindsym 0 exec $I3_SCRIPT/i3_default_valuechanger.sh border_width 0; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh border_width input; mode "default"
    # Back to border mode: "Enter"
    bindsym Return mode "$mode_border_width"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set border option (within border mode)
set $mode_border_option Border option: [1]:show_both_edge [2]:hide_both_edge [3]:hide_top/bottom_edge [4]:hide_left/right_edge [5]:hide_both_edge_if_only_one [6]:hide_both_edge_if_no_outer_gaps
mode "$mode_border_option" {
    bindsym 1 exec $I3_SCRIPT/i3_border_operator.sh show_both_edge; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_border_operator.sh hide_both_edge; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_border_operator.sh hide_horizontal_edge; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_border_operator.sh hide_vertical_edge; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_border_operator.sh hide_both_edge_if_only_one; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_border_operator.sh hide_both_edge_if_no_outer_gaps; mode "default"
    # Back to border mode: "Enter"
    bindsym Return mode "$mode_border"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Border colorscheme mode (within border mode)
set $mode_border_colorscheme Border colorscheme: [1]:monochromic [2]:dirchromatic [3]:monochromic_inversed
mode "$mode_border_colorscheme" {
    bindsym 1 exec $I3_SCRIPT/i3_window_decoractor.sh monochromic
    bindsym 2 exec $I3_SCRIPT/i3_window_decoractor.sh dirchromatic
    bindsym 3 exec $I3_SCRIPT/i3_window_decoractor.sh monochromic_inversed
    # Back to border mode: "Enter"
    bindsym Return mode "$mode_border"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}


# Dunst option mode(within dunst mode)
set $mode_dunst_option Dunst option: [1]:position [2]:xoffset [3]:yoffset [4]:text_alignment [5]:fontsize [6]:icon_position [r]eload
mode "$mode_dunst_option" {
    bindsym 1 mode $mode_dunst_position
    bindsym 2 mode $mode_dunst_xoffset
    bindsym 3 mode $mode_dunst_yoffset
    bindsym 4 mode $mode_dunst_alignment
    bindsym 5 mode $mode_dunst_fontsize
    bindsym 6 mode $mode_dunst_icon_position
    # Reload mode
    bindsym r mode "$mode_reload"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst position mode (within dunst option mode)
set $mode_dunst_position Dunst position: [1/2/3]:top-left/center/right [4/5/6]:center-left/center/right [7/8/9]:bottom-left/center/right
mode "$mode_dunst_position" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position top-left; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position top-center; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position top-right; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position left-center; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position center; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position right-center; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position bottom-left; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position bottom-center; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_position bottom-right; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst xoffset mode (within dunst option mode)
set $mode_dunst_xoffset Dunst xoffset: [1]:10pix [2]:15pix [3]:20pix [4]:25pix [5]:30pix [6]:35pix [7]:40pix [8]:45pix [9]:50px [0]:no_xoffset [i]nput
mode "$mode_dunst_xoffset" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 10; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 15; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 20; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 25; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 30; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 35; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 40; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 45; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 50; mode "default"
    bindsym 0 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset 0; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_xoffset input; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst yoffset mode (within dunst option mode)
set $mode_dunst_yoffset Dunst yoffset: [1]:10pix [2]:15pix [3]:20pix [4]:25pix [5]:30pix [6]:35pix [7]:40pix [8]:45pix [9]:50px [0]:no_yoffset [i]nput
mode "$mode_dunst_yoffset" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 10; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 15; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 20; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 25; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 30; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 35; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 40; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 45; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 50; mode "default"
    bindsym 0 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset 0; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_yoffset input; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst alignment mode (within dunst option mode)
set $mode_dunst_alignment Dunst alignment: [1]:left [2]:center [3]:right
mode "$mode_dunst_alignment" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_alignment left; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_alignment center; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_alignment right; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst fontsize mode (within dunst option mode)
set $mode_dunst_fontsize Dunst fontsize: [1]:8pix [2]:9pix [3]:10pix [4]:11pix [5]:12pix [6]:13pix [7]:14pix [8]:15pix [9]:16pix [i]nput
mode "$mode_dunst_fontsize" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 8; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 9; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 10; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 11; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 12; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 13; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 14; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 15; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize 16; mode "default"
    bindsym i exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_fontsize input; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
# Dunst icon position mode (within dunst option mode)
set $mode_dunst_icon_position Dunst icon position: [1]:left [2]:top [3]:right [0]:off
mode "$mode_dunst_icon_position" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_icon_position left; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_icon_position top; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_icon_position right; mode "default"
    bindsym 0 exec $I3_SCRIPT/i3_default_valuechanger.sh dunst_icon_position off; mode "default"
    # Back to dunst mode: "Enter"
    bindsym Return mode "$mode_dunst_option"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Conky mode (within customization mode, including system monitor and bindkey sheet)
set $mode_conky Conky: [1]:bindkey_sheet [2]:system_monitor [3/4/5]:show_all_conky on default/primary/all display [0]:killall_conky [s]et_conky_style [c]onky_startup [r]eload
mode "$mode_conky" {
    bindsym 1 mode "$mode_conky_bindkey"
    bindsym 2 mode "$mode_conky_system"
    bindsym 3 exec $I3_SCRIPT/i3_conky_monitor_display.sh default
    bindsym 4 exec $I3_SCRIPT/i3_conky_monitor_display.sh primary
    bindsym 5 exec $I3_SCRIPT/i3_conky_monitor_display.sh all
    bindsym 0 exec killall conky
    # Conky style mode
    bindsym s mode "$mode_set_conky_style"
    # Conky startup mode
    bindsym c mode "$mode_set_conky_startup"
    # Reload mode
    bindsym r mode "$mode_reload"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Bindkey sheet mode (within conky mode)
set $mode_conky_bindkey Bindkey: [e]nable [d]isable [1]:title_color [2]:item_color [3]:background_opacity [4]:position
mode "$mode_conky_bindkey" {
    bindsym e exec conky -c $HOME/.config/conky/conky_config_bindkey
    bindsym d exec kill $(pgrep -f "conky -c $HOME/.config/conky/conky_config_bindkey")
    bindsym 1 mode "$mode_conky_palette_bindkey_title"
    bindsym 2 mode "$mode_conky_palette_bindkey_item"
    bindsym 3 mode "$mode_conky_bindkey_opacity"
    bindsym 4 mode "$mode_conky_bindkey_position"
    # Back to conky mode: "Enter"
    bindsym Return mode "$mode_conky"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# System monitor mode (within conky mode)
set $mode_conky_system System: [e]nable [d]isable [1]:title_color [2]:item_color [3]:background_opacity [4]:position
mode "$mode_conky_system" {
    bindsym e exec conky -c $HOME/.config/conky/conky_config_system
    bindsym d exec kill $(pgrep -f "conky -c $HOME/.config/conky/conky_config_system")
    bindsym 1 mode "$mode_conky_palette_system_title"
    bindsym 2 mode "$mode_conky_palette_system_item"
    bindsym 3 mode "$mode_conky_system_opacity"
    bindsym 4 mode "$mode_conky_system_position"
    # Back to conky mode: "Enter"
    bindsym Return mode "$mode_conky"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Opacity mode (opacity for conky bindkey, within conky mode)
set $mode_conky_bindkey_opacity Bindkey opacity: [1]:0% [2]:25% [3]:50% [4]:75% [5]:100%
mode "$mode_conky_bindkey_opacity" {
    bindsym 1 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey bg_opacity opac0; mode "$mode_conky_bindkey"
    bindsym 2 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey bg_opacity opac25; mode "$mode_conky_bindkey"
    bindsym 3 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey bg_opacity opac50; mode "$mode_conky_bindkey"
    bindsym 4 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey bg_opacity opac75; mode "$mode_conky_bindkey"
    bindsym 5 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey bg_opacity opac100; mode "$mode_conky_bindkey"
    # Back to conky_bindkey mode: "Enter"
    bindsym Return mode "$mode_conky_bindkey"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Opacity mode (opacity for conky system, within conky mode)
set $mode_conky_system_opacity System opacity: [1]:0% [2]:25% [3]:50% [4]:75% [5]:100%
mode "$mode_conky_system_opacity" {
    bindsym 1 exec $I3_SCRIPT/i3_conky_valuechanger.sh system bg_opacity opac0; mode "$mode_conky_system"
    bindsym 2 exec $I3_SCRIPT/i3_conky_valuechanger.sh system bg_opacity opac25; mode "$mode_conky_system"
    bindsym 3 exec $I3_SCRIPT/i3_conky_valuechanger.sh system bg_opacity opac50; mode "$mode_conky_system"
    bindsym 4 exec $I3_SCRIPT/i3_conky_valuechanger.sh system bg_opacity opac75; mode "$mode_conky_system"
    bindsym 5 exec $I3_SCRIPT/i3_conky_valuechanger.sh system bg_opacity opac100; mode "$mode_conky_system"
    # Back to conky_system mode: "Enter"
    bindsym Return mode "$mode_conky_system"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Position mode (position for conky bindkey, within conky mode)
set $mode_conky_bindkey_position Bindkey position: [1]:bottom_left [2]:bottom_right
mode "$mode_conky_bindkey_position" {
    bindsym 1 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey alignment bottom_left; mode "$mode_conky_bindkey"
    bindsym 2 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey alignment bottom_right; mode "$mode_conky_bindkey"
    # Back to conky_bindkey mode: "Enter"
    bindsym Return mode "$mode_conky_bindkey"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Position mode (position for conky system, within conky mode)
set $mode_conky_system_position System position: [1]:top_left [2]:top_right
mode "$mode_conky_system_position" {
    bindsym 1 exec $I3_SCRIPT/i3_conky_valuechanger.sh system alignment top_left; mode "$mode_conky_system"
    bindsym 2 exec $I3_SCRIPT/i3_conky_valuechanger.sh system alignment top_right; mode "$mode_conky_system"
    # Back to conky_system mode: "Enter"
    bindsym Return mode "$mode_conky_system"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Palette mode (color palette for conky bindkey item, within conky mode)
set $mode_conky_palette_bindkey_item Color for conky bindkey item: [1/F1]:black [2/F2]:red [3/F3]:green [4/F4]:yellow [5/F5]:blue [6/F6]:magenta [7/F7]:cyan [8/F8]:white
mode "$mode_conky_palette_bindkey_item" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color0; mode "$mode_conky_bindkey"
    bindsym 2  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color1; mode "$mode_conky_bindkey"
    bindsym 3  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color2; mode "$mode_conky_bindkey"
    bindsym 4  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color3; mode "$mode_conky_bindkey"
    bindsym 5  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color4; mode "$mode_conky_bindkey"
    bindsym 6  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color5; mode "$mode_conky_bindkey"
    bindsym 7  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color6; mode "$mode_conky_bindkey"
    bindsym 8  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color7; mode "$mode_conky_bindkey"
    bindsym F1 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color8; mode "$mode_conky_bindkey"
    bindsym F2 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color9; mode "$mode_conky_bindkey"
    bindsym F3 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color10; mode "$mode_conky_bindkey"
    bindsym F4 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color11; mode "$mode_conky_bindkey"
    bindsym F5 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color12; mode "$mode_conky_bindkey"
    bindsym F6 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color13; mode "$mode_conky_bindkey"
    bindsym F7 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color14; mode "$mode_conky_bindkey"
    bindsym F8 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey item color15; mode "$mode_conky_bindkey"
    # Back to conky_bindkey mode: "Enter"
    bindsym Return mode "$mode_conky_bindkey"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Palette mode (color palette for conky bindkey title, within conky mode)
set $mode_conky_palette_bindkey_title Color for conky bindkey title: [1/F1]:black [2/F2]:red [3/F3]:green [4/F4]:yellow [5/F5]:blue [6/F6]:magenta [7/F7]:cyan [8/F8]:white
mode "$mode_conky_palette_bindkey_title" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color0; mode "$mode_conky_bindkey"
    bindsym 2  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color1; mode "$mode_conky_bindkey"
    bindsym 3  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color2; mode "$mode_conky_bindkey"
    bindsym 4  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color3; mode "$mode_conky_bindkey"
    bindsym 5  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color4; mode "$mode_conky_bindkey"
    bindsym 6  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color5; mode "$mode_conky_bindkey"
    bindsym 7  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color6; mode "$mode_conky_bindkey"
    bindsym 8  exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color7; mode "$mode_conky_bindkey"
    bindsym F1 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color8; mode "$mode_conky_bindkey"
    bindsym F2 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color9; mode "$mode_conky_bindkey"
    bindsym F3 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color10; mode "$mode_conky_bindkey"
    bindsym F4 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color11; mode "$mode_conky_bindkey"
    bindsym F5 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color12; mode "$mode_conky_bindkey"
    bindsym F6 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color13; mode "$mode_conky_bindkey"
    bindsym F7 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color14; mode "$mode_conky_bindkey"
    bindsym F8 exec $I3_SCRIPT/i3_conky_valuechanger.sh bindkey title color15; mode "$mode_conky_bindkey"
    # Back to conky_bindkey mode: "Enter"
    bindsym Return mode "$mode_conky_bindkey"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Palette mode (color palette for conky system item, within conky mode)
set $mode_conky_palette_system_item Color for conky system item: [1/F1]:black [2/F2]:red [3/F3]:green [4/F4]:yellow [5/F5]:blue [6/F6]:magenta [7/F7]:cyan [8/F8]:white
mode "$mode_conky_palette_system_item" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color0; mode "$mode_conky_system"
    bindsym 2  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color1; mode "$mode_conky_system"
    bindsym 3  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color2; mode "$mode_conky_system"
    bindsym 4  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color3; mode "$mode_conky_system"
    bindsym 5  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color4; mode "$mode_conky_system"
    bindsym 6  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color5; mode "$mode_conky_system"
    bindsym 7  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color6; mode "$mode_conky_system"
    bindsym 8  exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color7; mode "$mode_conky_system"
    bindsym F1 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color8; mode "$mode_conky_system"
    bindsym F2 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color9; mode "$mode_conky_system"
    bindsym F3 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color10; mode "$mode_conky_system"
    bindsym F4 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color11; mode "$mode_conky_system"
    bindsym F5 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color12; mode "$mode_conky_system"
    bindsym F6 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color13; mode "$mode_conky_system"
    bindsym F7 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color14; mode "$mode_conky_system"
    bindsym F8 exec $I3_SCRIPT/i3_conky_valuechanger.sh system item color15; mode "$mode_conky_system"
    # Back to conky_system mode: "Enter"
    bindsym Return mode "$mode_conky_system"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Palette mode (color palette for conky system title, within conky mode)
set $mode_conky_palette_system_title Color for conky system title: [1/F1]:black [2/F2]:red [3/F3]:green [4/F4]:yellow [5/F5]:blue [6/F6]:magenta [7/F7]:cyan [8/F8]:white
mode "$mode_conky_palette_system_title" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color0; mode "$mode_conky_system"
    bindsym 2  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color1; mode "$mode_conky_system"
    bindsym 3  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color2; mode "$mode_conky_system"
    bindsym 4  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color3; mode "$mode_conky_system"
    bindsym 5  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color4; mode "$mode_conky_system"
    bindsym 6  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color5; mode "$mode_conky_system"
    bindsym 7  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color6; mode "$mode_conky_system"
    bindsym 8  exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color7; mode "$mode_conky_system"
    bindsym F1 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color8; mode "$mode_conky_system"
    bindsym F2 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color9; mode "$mode_conky_system"
    bindsym F3 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color10; mode "$mode_conky_system"
    bindsym F4 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color11; mode "$mode_conky_system"
    bindsym F5 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color12; mode "$mode_conky_system"
    bindsym F6 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color13; mode "$mode_conky_system"
    bindsym F7 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color14; mode "$mode_conky_system"
    bindsym F8 exec $I3_SCRIPT/i3_conky_valuechanger.sh system title color15; mode "$mode_conky_system"
    # Back to conky_system mode: "Enter"
    bindsym Return mode "$mode_conky_system"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set conky style (within conky mode)
set $mode_set_conky_style Set conky style: [1]:full [2]:light [3]:minimal
mode "$mode_set_conky_style" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh conky_style full; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh conky_style light; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh conky_style minimal; mode "default"
    # Back to conky mode: "Enter"
    bindsym Return mode "$mode_conky"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set conky startup (within conky mode)
set $mode_set_conky_startup Set conky startup: [e]nable_startup_conky [d]isable_startup_conky
mode "$mode_set_conky_startup" {
    bindsym e exec $I3_SCRIPT/i3_default_valuechanger.sh conky_startup enable; mode "default"
    bindsym d exec $I3_SCRIPT/i3_default_valuechanger.sh conky_startup disable; mode "default"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_conky"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Theme mode (pywal color theme support)
# -- Autotune Xcolor corresponding to current wallpaper to get a better theme consistency
# Pywal (https://github.com/dylanaraps/pywal)
# -- Installation: pip install pywal
set $mode_theme Theme: [e]nable_9-color_pywal [E]nable_16-color_pywal [d]isable_pywal [D]isable_pywal_and_apply_template [r]eload
mode "$mode_theme" {
    bindsym e       exec $I3_SCRIPT/i3_wal_operator.sh enable_9_color_wal
    bindsym Shift+e exec $I3_SCRIPT/i3_wal_operator.sh enable_16_color_wal
    bindsym d       exec $I3_SCRIPT/i3_wal_operator.sh disable_wal
    bindsym Shift+d exec $I3_SCRIPT/i3_wal_operator.sh disable_wal_and_apply_template
    # Reload mode
    bindsym r mode "$mode_reload"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Reload mode
set $mode_reload Reload: [r]eload_all (1~5) [1]:conky [2]:i3bar [3]:dunst [4]:zathura [5]:vis [6]:xss-lock [7]:Xresource
mode "$mode_reload" {
    # Reload all
    bindsym r exec $I3_SCRIPT/i3_reload_operator.sh all; mode "default"
    # Reload specific program
    bindsym 1 exec $I3_SCRIPT/i3_reload_operator.sh conky
    bindsym 2 exec $I3_SCRIPT/i3_reload_operator.sh i3bar
    bindsym 3 exec $I3_SCRIPT/i3_reload_operator.sh dunst
    # Zathura-pywal need to be installed mannually [https://github.com/mslcarlson/zathura-pywal]
    bindsym 4 exec $I3_SCRIPT/i3_reload_operator.sh zathura
    bindsym 5 exec $I3_SCRIPT/i3_reload_operator.sh vis
    # Restart Xss-lock
    bindsym 6 exec $I3_SCRIPT/i3_reload_operator.sh xsslock
    # Reload Xresource
    bindsym 7 exec $I3_SCRIPT/i3_reload_operator.sh Xresource
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Picom mode (animation, blur, and transparency support)
set $mode_picom Picom (Xcompositor): [1]:default [2]:transparency [3]:blur [0]:killall_picom [s]et_default_picom
mode "$mode_picom" {
    bindsym 1 exec $I3_SCRIPT/i3_picom_operator.sh default; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_picom_operator.sh transparency; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_picom_operator.sh blur; mode "default"
    bindsym 0 exec killall picom; mode "default"
    bindsym s mode "$mode_set_default_picom"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set default picom (within picom mode)
set $mode_set_default_picom Set default picom: [1]:transparency [2]:blur
mode "$mode_set_default_picom" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh picom transparency; exec $I3_SCRIPT/i3_picom_operator.sh transparency; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh picom blur; exec $I3_SCRIPT/i3_picom_operator.sh blur; mode "default"
    # Back to picom mode: "Enter"
    bindsym Return mode "$mode_picom"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Flashfocus mode (flash when focus changes using picom)
set $mode_flashfocus Flashfocus (using picom): [e]nable_flashfocus [d]isable_flashfocus [r]efresh_flashfocus [s]et_default_flashfocus
mode "$mode_flashfocus" {
    # Flashfocus
    bindsym e exec flashfocus; mode "default"
    bindsym d exec killall flashfocus; mode "default"
    bindsym r exec killall flashfocus && flashfocus; mode "default"
    bindsym s mode "$mode_set_default_flashfocus"
    # Back to customization mode: "Enter"
    bindsym Return mode "$mode_customization"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Set default flashfocus (within flashfocus mode)
set $mode_set_default_flashfocus Set default flashfocus (opacity): [1]:transparency (0.6) [2]:crystal (0.7) [3]:intermediate (0.8) [4]:blur (0.9) [5]:opaque (1.0)
mode "$mode_set_default_flashfocus" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus transparency; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus crystal; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus intermediate; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus blur; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus opaque; mode "default"
    # Back to flashfocus mode: "Enter"
    bindsym Return mode "$mode_flashfocus"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
