# ~/.config/i3/config
# vim: syntax=i3 ft=i3 ff=unix
# ======================================================================================
# All About Compatibility Setup for iOS Keyboard (Mod4 -> Mod5)
# ======================================================================================
# For some iOS keyboard, Mod4 key is replaced by Mod5, and this config provides modification
# to replace Mod4 key with Mod5 key. But note that since Mod5+(SHIFT)+ALPHABET/NUMBER are
# actually another keyboard layer (they combines as a different key), they cannot be simply
# mapped as Mod4+ALPHABET/NUMBER/etc. For now, still searching for solution.

# Workspace
bindsym Mod5+Tab            workspace next
bindsym Mod5+Shift+Tab      workspace prev
bindsym Mod5+Escape         exec $I3_SCRIPT/i3_workspace_operator.sh goto
bindsym Mod5+Shift+Escape   exec $I3_SCRIPT/i3_workspace_operator.sh kill_current
bindsym Mod5+grave          exec $I3_SCRIPT/i3_new_workspace.sh move_focus next
bindsym Mod5+Shift+grave    exec $I3_SCRIPT/i3_new_workspace.sh move_focus prev
bindsym Mod5+Mod1+Tab       exec $I3_SCRIPT/i3_new_workspace.sh move_focus next_free_only
bindsym Mod5+Mod1+Shift+Tab exec $I3_SCRIPT/i3_new_workspace.sh move_focus prev_free_only
bindsym Mod5+Ctrl+Tab         workspace back_and_forth
bindsym Mod5+Ctrl+Escape      exec $I3_SCRIPT/i3_workspace_operator.sh swap
bindsym Mod5+Ctrl+grave       exec $I3_SCRIPT/i3_workspace_operator.sh swap_next
bindsym Mod5+Ctrl+Shift+grave exec $I3_SCRIPT/i3_workspace_operator.sh swap_prev
bindsym Mod5+Mod1+grave       exec $I3_SCRIPT/i3_new_workspace.sh move_container next_free_only
bindsym Mod5+Mod1+Shift+grave exec $I3_SCRIPT/i3_new_workspace.sh move_container prev_free_only

# Switch focus
bindsym Mod5+Left  focus left
bindsym Mod5+Down  focus down
bindsym Mod5+Up    focus up
bindsym Mod5+Right focus right

# Move Window
bindsym Mod5+Shift+Left  move left
bindsym Mod5+Shift+Down  move down
bindsym Mod5+Shift+Up    move up
bindsym Mod5+Shift+Right move right

# Change focus between tiling/floating windows
bindsym Mod5+space focus mode_toggle

# Toggle tiling/floating
bindsym Mod5+Shift+space floating toggle

# Switch focus to last focused window
bindsym Mod5+BackSpace [con_mark='] focus

# Swap with last focused window
bindsym Mod5+Shift+BackSpace swap container with mark ', [con_mark='] focus

# Terminal
bindsym Mod5+Return exec $terminal
bindsym Mod5+Shift+Return exec $terminal --class floating_terminal

# Mouse
bindsym --whole-window Mod5+button2 kill
bindsym --whole-window Mod5+button3 floating toggle
