# ~/.config/i3/config.d/i3_workspace_name.config
# vim: syntax=i3
# ======================================================================================
# All About Workspace Name
# ======================================================================================
# Define variables for names of default workspaces
# PLEASE DO NOT INSERT ANY EMPTY LINES BETWEEN FOLLOWING SET STATEMENTs

set $ws1 "1:A1"
set $ws2 "2:A2"
set $ws3 "3:A3"
set $ws4 "4:A4"
set $ws5 "5:A5"
set $ws6 "6:A6"
set $ws7 "7:A7"
set $ws8 "8:A8"
set $ws9 "9:A9"
set $ws10 "10:A0"
set $ws11 "11:B1"
set $ws12 "12:B2"
set $ws13 "13:B3"
set $ws14 "14:B4"
set $ws15 "15:B5"
set $ws16 "16:B6"
set $ws17 "17:B7"
set $ws18 "18:B8"
set $ws19 "19:B9"
set $ws20 "20:B0"
set $ws21 "21:C1"
set $ws22 "22:C2"
set $ws23 "23:C3"
set $ws24 "24:C4"
set $ws25 "25:C5"
set $ws26 "26:C6"
set $ws27 "27:C7"
set $ws28 "28:C8"
set $ws29 "29:C9"
set $ws30 "30:C0"
set $ws31 "31:D1"
set $ws32 "32:D2"
set $ws33 "33:D3"
set $ws34 "34:D4"
set $ws35 "35:D5"
set $ws36 "36:D6"
set $ws37 "37:D7"
set $ws38 "38:D8"
set $ws39 "39:D9"
set $ws40 "40:D0"
