# ~/.config/i3/config.d/i3_window.config
# vim: syntax=i3
# ======================================================================================
# All About Windows Settings
# ======================================================================================
# This is the initial setup for all windows and floating windows in i3
# For windows role/class, run xprop to check

# Window title and borders
# [Comment color palette below if you want original i3 container/workspace color setup]
# Color of border, background, text, indicator, and child_border based on Xresource

# Basic color combination in this configuration
# -- Red (color1) + Green (color2)
# -- Yellow (color3) + Magenta (color5)
# -- Blue/Cyan (color4/color6) + Gray (color7)

# Color Palette (DO NOT MOVE current and following lines unless you know what you are doing)
# class                 border  backgr. text    indic.  child_border
client.focused          $c5     $c5     $c15    $c13    $c5
client.focused_inactive $c1     $c1     $c7     $c9     $c1
client.unfocused        $c1     $c1     $c7     $c1     $c1
client.urgent           $c0     $c15    $c0     $c15    $c15
client.placeholder      $c1     $c1     $c15    $c9     $c1
client.background               $transp

# Floating for assigned window_role
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="Preferences"] floating enable

# Floating for assigned window_type
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

# Floating for assigned title
for_window [title="Preference$"] floating enable
for_window [title="Pages Unresponsive"] floating enable
for_window [title="^Weylus*"] floating enable
for_window [title="^Figure*"] floating enable

# Floating for assigned class
for_window [class="VirtualBox"] floating enable
for_window [class="VirtualBox Machine"] floating disable
for_window [class="Nm-connection-editor"] floating enable
for_window [class="Blueman-manager"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Org.gnome.DejaDup"] floating enable
for_window [class="Org.gnome.Dictionary"] floating enable
for_window [class="Org.gnome.Nautilus"] floating enable
for_window [class="Org.gnome.clock"] floating enable
for_window [class="Arandr"] floating enable
for_window [class="Gtk-tree-watch.pl"] floating enable
for_window [class="Gnome-calculator"] floating enable
for_window [class="kruler"] floating enable
for_window [class="matplotlib"] floating enable
for_window [class="Evince"] floating enable
for_window [class="Eog"] floating enable
for_window [class="Toplevel"] floating enable
for_window [class="Gnome-screenshot"] floating enable
for_window [class="scrcpy"] floating enable
for_window [class="floating_kitty"] floating enable
for_window [class="zoom*"] floating enable
for_window [class="Cairo-clock"] floating enable
for_window [class="Steam"] floating enable
for_window [class="Florence"] floating enable
for_window [class="Variety"] floating enable
for_window [class="gnome-calculator"] floating enable
for_window [class="ObinsKit"] floating enable
for_window [class="kdeconnect.daemon"] floating enable

# Stickiness for floating window
for_window [title="Picture-in-Picture"] sticky enable
for_window [class="Cairo-clock"] sticky enable

# Window setting
# Switch focus to pop-up Window
# -- smart: only focus if it is on an active workspace (default one)
focus_on_window_activation smart
# Focus wrapping within containers (e.g. stacking, tabbed, tiling)
# -- yes: focus wraps back when it is over the edge of a container
# -- no: focus do not wrap back when it is over the edge of a container (default one)
# -- force: always wrap focus inside a container
# -- workspace: restrict focus wrap inside current workspace
focus_wrapping yes
# Popups during fullscreen mode
# -- smart: only popup if it belongs to the full screen application)
popup_during_fullscreen smart
# Container split direction (option: horizontal, vertical, auto)
# -- auto: split direction depends on display size
default_orientation auto
# Layout mode (option: default, stacking, tabbed)
# -- default: tiling
workspace_layout default

# Window titlebar
# You can use any non-zero value if you would like to have a border (or 'normal')
# Available window frame options: width pixel (or 'normal')
# Comment out below lines to display title as default ('normal')
# -- Tiling windows
for_window [tiling] border $default_titlebar_style $default_border_width
default_border $default_titlebar_style $default_border_width
# -- Floating window (normal is set for title bar)
for_window [floating] border $default_floating_titlebar_style $default_border_width
default_floating_border $default_floating_titlebar_style $default_border_width

# Border adjacent to actions of containter borders
# -- none: never hide any borders
# -- both: hide both vertical and horizontal borders
# -- smart: hide edge borders when there is only one window
# -- smart_no_gaps: hide edge borders when there is only one window with no gaps
hide_edge_borders smart

# Set windows title bar font size
font pango: $default_font $default_titlebar_fontsize
for_window [all] title_format "%title"
for_window [all] title_window_icon padding 5px
title_align center
show_marks yes

# Tiling window drag with title bar or hold modifier
tiling_drag titlebar modifier

# Mouse and floating windows
# Use Mouse+Mod4 to drag floating windows
floating_modifier Mod4
# Focus follow mouse cursor
focus_follows_mouse yes
# Warp mouse cursor to the center of workspace when switching focus on different displays
mouse_warping output

# Switch focus to last focused window
bindsym Mod4+BackSpace [con_mark='] focus
bindsym Mod4+y         [con_mark='] focus
# Swap with last focused window
bindsym Mod4+Shift+BackSpace swap container with mark ', [con_mark='] focus
bindsym Mod4+Shift+y         swap container with mark ', [con_mark='] focus
# Switch focus to urgent window
bindsym Ctrl+Mod1+BackSpace [urgent=latest] focus
bindsym Ctrl+Mod1+y         [urgent=latest] focus
