# vim: syntax=i3
# ======================================================================================
# All About i3bar Settings
# ======================================================================================
# Start i3bar to display a workspace bar (plus the system information i3status finds out
# if available). For i3bar theme configuration, check the online color palette configurer
# -- https://thomashunter.name/i3-configurator/

# Status bar for general purposes (primary output)
bar {
    # Bar property
    id bar_base
    # Basic bar
    position top
    # Bar visibility
    mode hide
    ## Bar output display
    #output primary
    # Height in pixels (ONLY for i3-gaps)
    height 25
    # Modifier (show bar when pressing)
    modifier Mod4
    # Mode indicator (show i3 mode)
    binding_mode_indicator no
    # Font
    font pango: DroidSansMono Nerd Font 12
    # Workspace indicator
    workspace_buttons yes
    workspace_min_width 20
    strip_workspace_numbers yes
    # Tray icon
    tray_output primary
    tray_padding 5
    # Bumblebee-status
    status_command bumblebee-status \
        -m \
            title \
            network_traffic \
            sensors \
            cpu \
            memory \
            pasink \
            pasource \
            brightness \
            time \
            date \
            battery \
        -p \
            home.path=/home \
            time.format="%H:%M" \
            date.format="%a, %b/%d/%Y" \
            memory.format="{percent:03.01f}%" \
            disk.format="{percent:05.02f}%" \
            pasink.percent_change=1 \
            pasource.percent_change=1 \
            brightness.step=1 \
        -t \
            i3bar-wal
    # bar_base workspace color
    colors{
        background $bg
        statusline $fg
        separator  $bg
        # item             border    bground   text
        focused_workspace  $c0       $c11      $c15
        active_workspace   $c11      $c8       $c15
        inactive_workspace $c0       $c8       $c15
        urgent_workspace   $c1       $c15      $c0
        binding_mode       $bg       $bg       $fg
    }
}

# Status bar for mode indication
bar{
    # Bar property
    id bar_overlay
    position top
    mode hide
    height 25
    modifier none
    binding_mode_indicator yes
    font pango: DroidSansMono Nerd Font 12
    workspace_buttons yes
    strip_workspace_numbers yes
    tray_output none
    # bar_overlay workspace color
    colors{
        background $bg
        statusline $fg
        separator  $bg
        # item             border    bground   text
        focused_workspace  $c0       $c11      $c15
        active_workspace   $c11      $c8       $c15
        inactive_workspace $c0       $c8       $c15
        urgent_workspace   $c1       $c15      $c0
        binding_mode       $bg       $bg       $fg
    }
}

# Bar mode for i3bar bar_base
set $mode_i3bar Bar: [d]ock_bar [h]ide_bar [r]eload_bar [s]et_default_bar_dock [S]et_default_bar_hide
bindsym Mod4+Shift+b mode "$mode_i3bar"
mode "$mode_i3bar" {
    bindsym d       exec $I3_SCRIPT/i3_bar_operator.sh bar_dock; mode "default"
    bindsym h       exec $I3_SCRIPT/i3_bar_operator.sh bar_hide; mode "default"
    bindsym r       exec $I3_SCRIPT/i3_bar_operator.sh bar_reload; mode "default"
    bindsym s       exec $I3_SCRIPT/i3_bar_operator.sh default_dock; reload
    bindsym Shift+s exec $I3_SCRIPT/i3_bar_operator.sh default_hide; reload
    # exit mode: "Enter" or "Escape"
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Toggle i3bar bar_base
bindsym Mod4+b exec $I3_SCRIPT/i3_bar_operator.sh bar_toggle
# Toggle i3bar bar_overlay
bindsym Ctrl+Mod1+b bar mode toggle bar_overlay
