# ======================================================================================
# All About Bindkeys
# ======================================================================================
# This is to save all bindkeys of programs

# Reload this configuration file
bindsym Mod4+r reload
# Restart whole i3 session
bindsym Mod4+Shift+r restart

# Common program shortcut
# 1 - Text editor: neovim [Installation: dnf install neovim]
bindsym Ctrl+Mod1+1 exec --no-startup-id $terminal -e nvim
# 2 - File Manager: ranger [Installation: dnf install ranger]
bindsym Ctrl+Mod1+2 exec --no-startup-id $terminal -e ranger
# 3 - Media: pulsemixer [Installation: pip install pulsemixer]
bindsym Ctrl+Mod1+3 exec --no-startup-id $terminal -e pulsemixer
# 4 - System monitor: htop [Installation: dnf install htop]
bindsym Ctrl+Mod1+4 exec --no-startup-id $terminal -e htop
# 5 - Nmtui (networkmanager TUI) [Bundled with NetworkManager]
bindsym Ctrl+Mod1+5 exec --no-startup-id $terminal -e nmtui
# 6 - Visualizer: cava [Installation: dnf install cava]
bindsym Ctrl+Mod1+6 exec --no-startup-id $terminal -e cava
# 7 - Spotify (TUI)
bindsym Ctrl+Mod1+7 exec --no-startup-id $terminal -e spotify_tui.sh
# 8 - Zathura (PDF viewer)
bindsym Ctrl+Mod1+8 exec --no-startup-id zathura
# 9 - Bluetooth manager: blueman [Installation: dnf install blueman]
bindsym Ctrl+Mod1+9 exec --no-startup-id blueman-manager
# 0 - Nautilus (file manager) [Installation: dnf install nautilus]
bindsym Ctrl+Mod1+0 exec --no-startup-id nautilus
# - (minus) - Web browser: brave-browser (google-chromium based)
bindsym Ctrl+Mod1+minus exec --no-startup-id brave-browser
# = (equal) - Web browser: firefox
bindsym Ctrl+Mod1+equal exec --no-startup-id firefox

# Use pactl to adjust volume in PulseAudio.
# For advanced modification, check pulsemxier or alsamixer
bindsym XF86AudioMute             exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym Ctrl+XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +1%
bindsym Ctrl+XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -1%
bindsym XF86AudioRaiseVolume      exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume      exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym Mod1+XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +10%
bindsym Mod1+XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -10%
bindsym XF86AudioMicMute          exec pactl set-source-mute @DEFAULT_SOURCE@ toggle

# Media player control
bindsym XF86AudioPlay  exec playerctl play
bindsym XF86AudioPause exec playerctl pause
bindsym XF86AudioStop  exec playerctl stop
bindsym XF86AudioNext  exec playerctl next
bindsym XF86AudioPrev  exec playerctl previous

# Keyboard backlight control
# -- https://github.com/alberto-santini/i3-configuration-x1
# -- https://askubuntu.com/questions/715306/xbacklight-no-outputs-have-backlight-property-no-sys-class-backlight-folder
bindsym Ctrl+XF86MonBrightnessDown exec xbacklight -dec 1
bindsym Ctrl+XF86MonBrightnessUp   exec xbacklight -inc 1
bindsym XF86MonBrightnessDown      exec xbacklight -dec 5
bindsym XF86MonBrightnessUp        exec xbacklight -inc 5
bindsym Mod1+XF86MonBrightnessDown exec xbacklight -dec 10
bindsym Mod1+XF86MonBrightnessUp   exec xbacklight -inc 10

# Rofi window switcher [can be configured in $HOME/.config/rofi/config.rasi]
bindsym Mod4+d                exec rofi -show drun -terminal $terminal
bindsym Mod4+Shift+d          exec rofi -show run -terminal $terminal
bindsym Mod1+Tab              exec rofi -show window -terminal $terminal
bindsym Ctrl+Mod1+d           exec rofi -show filebrowser -terminal $terminal
bindsym Ctrl+Mod1+Shift+slash exec rofi -show keys -terminal $terminal

# Start a terminal
bindsym Mod4+Return   exec $terminal
bindsym Mod4+KP_Enter exec $terminal

# Kill focus window
bindsym Mod4+Shift+q kill

# Exit i3
bindsym Ctrl+Mod1+q exit

# Focus the parent/child container
bindsym Mod4+a       focus parent
bindsym Mod4+Shift+a focus child

# Vim-key: Change focus
bindsym Mod4+h focus left
bindsym Mod4+j focus down
bindsym Mod4+k focus up
bindsym Mod4+l focus right
# Vim-key: Move focused window
bindsym Mod4+Shift+h move left
bindsym Mod4+Shift+j move down
bindsym Mod4+Shift+k move up
bindsym Mod4+Shift+l move right

# Arrow-key: Change focus
bindsym Mod4+Left  focus left
bindsym Mod4+Down  focus down
bindsym Mod4+Up    focus up
bindsym Mod4+Right focus right
# Arrow-key: Move focused window
bindsym Mod4+Shift+Left  move left
bindsym Mod4+Shift+Down  move down
bindsym Mod4+Shift+Up    move up
bindsym Mod4+Shift+Right move right

# Fullscreen mode
# Toggle fullscreen
bindsym Mod4+f       fullscreen toggle
bindsym Mod4+Shift+f fullscreen toggle global

# Floating mode
# Change focus between tiling / floating windows
bindsym Mod4+space focus mode_toggle
# Toggle tiling / floating
bindsym Mod4+Shift+space floating Toggle
# Toggle stickiness of floating window (always on the top)
bindsym Mod4+Shift+s sticky Toggle

# Tiling mode
# Change container layout (stacking, tabbed, splitv, splith)
bindsym Mod4+Shift+e layout toggle splitv splith tabbed stacking
# Change container layout (stacking, tabbed, toggle split)
bindsym Mod4+s layout stacking
bindsym Mod4+w layout tabbed
bindsym Mod4+e layout toggle splitv splith
# Change split direction (vertical, horizontal)
bindsym Mod4+q split toggle

# Titlebar toggle (locally, globally)
bindsym Mod4+n       border toggle
bindsym Mod4+Shift+n [all] border toggle
bindsym Ctrl+Mod1+n  [all] border normal

# Mark mode [add i3/rofi to use i3-msg/rofi as input]
# Mark current window with the character
bindsym Mod4+m exec $I3_SCRIPT/i3_mark_operator.sh mark rofi none
# Goto the window with the character
bindsym Mod4+Escape     exec $I3_SCRIPT/i3_mark_operator.sh goto rofi none
bindsym Mod4+apostrophe exec $I3_SCRIPT/i3_mark_operator.sh goto rofi none
# Swap the current window to the window with the character (focus stays)
bindsym Mod4+semicolon exec $I3_SCRIPT/i3_mark_operator.sh swap rofi stay
# Swap the current window to the window with the character (focus moves)
bindsym Mod4+Shift+semicolon exec $I3_SCRIPT/i3_mark_operator.sh swap rofi none

# Scratchpad (i3 background workspace)
# Scratchpad: hide/show window (minus is "-" key but plus is actually "=" key.)
bindsym Mod4+minus move scratchpad; exec notify-send -u low "i3 Scratchpad" "Move current window to scratchpad"
bindsym Mod4+plus  scratchpad show; exec notify-send -u low "i3 Scratchpad" "Bring scratchpad window foreground One-By-One"
# Scratchpad: Move all floating windows to the scratchpad and vice versa
bindsym Mod4+Shift+minus [floating] move scratchpad; exec notify-send -u low "i3 Scratchpad" "Move all floating windows to Scratchpad"
bindsym Mod4+Shift+plus  [all] scratchpad show; exec notify-send -u low "i3 Scratchpad" "Bring all scratchpad windows to foreground"

# Resize window with hotkey
bindsym Ctrl+Mod1+h resize shrink width 5 px or 5 ppt
bindsym Ctrl+Mod1+j resize grow height 5 px or 5 ppt
bindsym Ctrl+Mod1+k resize shrink height 5 px or 5 ppt
bindsym Ctrl+Mod1+l resize grow width 5 px or 5 ppt

# Dunst shortcuts
bindsym Ctrl+space       exec dunstctl close
bindsym Ctrl+Shift+space exec dunstctl history-pop

# Input method (ibus)
# Change ibus engine
bindsym Ctrl+Mod1+space exec $I3_SCRIPT/i3_languagechanger.sh
# Disable full character mode of IBUS by default
bindsym Shift+space \
    exec notify-send -u low "IBUS Input Method" "Full character keybind is disabled by default.\nUse system tray for full character usage."

# Screenshot tools (gnome-screenshot + flameshot)
bindsym --release Print  exec flameshot gui -p $HOME/Pictures
bindsym Mod4+Print       exec gnome-screenshot -w
bindsym Mod4+Shift+Print exec gnome-screenshot -i

# Middle button (3-finger tap) over a titlebar kills the window
# The middle button and a modifier over any part of the window kills the window
bindsym --release button2           kill
bindsym --whole-window Mod4+button2 kill

# Right button (2-finger tap) toggles window floating
bindsym --release button3                 floating Toggle
bindsym --whole-window Mod4+Shift+button3 floating Toggle

# Mouse wheel scroll (2-finger swipe) up/down toggles window floating
bindsym --release button4 floating Toggle
bindsym --release button5 floating Toggle

# Show all keybindings in i3 (use rofi as viewer)
# -- https://www.reddit.com/r/i3wm/comments/e1x9n6/keybindings_menu_not_dmenurofi/
bindsym Mod4+Shift+slash exec \
    i3 $(cat ~/.config/i3/configs/* | grep '^bindsym' | grep -v '^\s*#' | \
    sed 's/bindsym / /' | rofi -dmenu -columns 1 -p 'i3 Keybinds' |\
    sed 's/^\s*//' | cut -d' ' -f 2- )
