# vim: syntax=i3
# ======================================================================================
# All About Customization
# ======================================================================================
# Customization includes wallpaper, theme, and visual effects (e.g. blur/animation)

# Customization mode (wrapper for wallpaper_mode, theme mode, and picom_mode)
set $mode_customization Customization: [c]onky [p]icom [f]lashfocus [t]heme [w]allpaper
bindsym Mod4+Shift+c mode "$mode_customization"
mode "$mode_customization" {
    bindsym c mode "$mode_conky"
    bindsym p mode "$mode_picom"
    bindsym f mode "$mode_flashfocus"
    bindsym t mode "$mode_theme"
    bindsym w mode "$mode_wallpaper"
    # exit
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# Note: Wallpaper mode (local wallpaper support)
# [Important]: Wallpaper directory (Add below lines in .profile)
#              Please change to where you store wallpaper directory
#              Feel free to modify these wallpaper directories as you want
# --------------------------------------------------------------------------------------
#export WALLPAPERV="$HOME/Pictures/VARIETY_SAVED"
#export WALLPAPERD="$HOME/Pictures/WALLPAPERS"
#export WALLPAPERF="$WALLPAPERD/FAVORITES"
#export WALLPAPER1="$WALLPAPERD/I3WM"
#export WALLPAPER2="$WALLPAPERD/FEDORA"
#export WALLPAPER3="$WALLPAPERD/ALMA"
#export WALLPAPER4="$WALLPAPERD/CATS"
#export WALLPAPER5="$WALLPAPERD/LINUX"
#export WALLPAPER6="$WALLPAPERD/THINKPAD"
#export WALLPAPER7="$WALLPAPERD/MISCELLANEOUS"
#export WALLPAPER8="$WALLPAPERD/DT_WALLPAPERS"
# --------------------------------------------------------------------------------------

# Wallpaper mode (feh is much faster than variety)
set $mode_wallpaper Wallpaper: [1]I3WM [2]Fedora [3]ALMA [4]Cats [5]Linux [6]Thinkpad [7]Misc [8]DTs [a]dd_to_favorite [f]avorite [v]ariety_saved [V]ariety [s]ave_as_default [r]estore_default
mode "$mode_wallpaper" {
    # Wallpapers
    bindsym 1 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (I3WM)" && feh --bg-fill $(find $WALLPAPER1 -name '*.png' | shuf -n1)
    bindsym 2 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (FEDORA)" && feh --bg-fill $(find $WALLPAPER2 -name '*.png' | shuf -n1)
    bindsym 3 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (ALMA)" && feh --bg-fill $(find $WALLPAPER3 -name '*.png' | shuf -n1)
    bindsym 4 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (CATS)" && feh --bg-fill $(find $WALLPAPER4 -name '*.jpg' | shuf -n1)
    bindsym 5 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (LINUX)" && feh --bg-fill $(find $WALLPAPER5 -name '*.png' | shuf -n1)
    bindsym 6 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (THINKPAD)" && feh --bg-fill $(find $WALLPAPER6 -name '*.png' | shuf -n1)
    bindsym 7 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (MISCELLANEOUS)" && feh --bg-fill $(find $WALLPAPER7 -name '*.png' | shuf -n1)
    bindsym 8 exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (DTs)" && feh --bg-fill $(find $WALLPAPER8 -name '*.jpg' | shuf -n1)
    # Favorites and variety
    bindsym f       exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (FAVORITE)" && feh --bg-fill $(find $WALLPAPERF -name '*.*g' | shuf -n1)
    bindsym v       exec notify-send -u low "Wallpaper Mode" "Shuffle wallpaper (VARIETY_FAVORITE)" && feh --bg-fill $(find $WALLPAPERV -name "*.jpg" | shuf -n1)
    bindsym Shift+v mode "$mode_variety"
    # Options
    bindsym r exec notify-send -u low "Wallpaper Mode" "Reset wallpaper to default" && feh --bg-fill $HOME/.config/i3/share/default_wallpaper
    bindsym s exec notify-send -u low "Wallpaper Mode" "Save current as default" && $I3_SCRIPT/i3_wallpaper_operator.sh feh set_default && rm -fr $HOME/.cache/wal && wal --nine -i $HOME/.config/i3/share/default_wallpaper
    bindsym a exec notify-send -u low "Wallpaper Mode" "Add current to favorite" && $I3_SCRIPT/i3_wallpaper_operator.sh feh save_current
    # exit
    bindsym Return mode "$mode_customization"
    bindsym Escape mode "default"
}

# Variety mode (within wallpaper mode)
set $mode_variety Variety: [n]ext [p]revious [P]ause [R]esume [A]dd_to_favorite [s]ave_current_variety_as_default [q]uit
mode "$mode_variety" {
    bindsym n       exec notify-send -u low "Variety Mode" "Next Wallpaper (VARIETY)" && variety -n
    bindsym p       exec notify-send -u low "Variety Mode" "Previous Wallpaper (VARIETY)" && variety -p
    bindsym Shift+p exec notify-send -u low "Variety Mode" "Pause Changing Wallpaper (VARIETY)" && variety --pause
    bindsym Shift+r exec notify-send -u low "Variety Mode" "Resume Changing Wallpaper (VARIETY)" && variety --resume
    bindsym Shift+a exec notify-send -u low "Variety Mode" "Add to Favorite (Variety)" && variety -f
    bindsym s       exec notify-send -u low "Variety Mode" "Save current as default" && $I3_SCRIPT/i3_wallpaper_operator.sh variety set_default && rm -fr $HOME/.cache/wal && wal --nine -i $HOME/.config/i3/share/default_wallpaper
    bindsym q       exec notify-send -u low "Variety Mode" "Quit Variety" && variety --quit
    # exit
    bindsym Return mode "$mode_wallpaper"
    bindsym Escape mode "default"
}

# Conky mode (system monitor and bindkey sheet)
set $mode_conky Conky: [0]killall_conky [1]bindkey_sheet [2]system_monitor [3/4]all_conky (primary/all)
mode "$mode_conky" {
    bindsym 0 exec killall conky
    bindsym 1 mode "$mode_conky_bindkey"
    bindsym 2 mode "$mode_conky_system"
    bindsym 3 exec $I3_SCRIPT/i3_conky_monitor_display.sh primary
    bindsym 4 exec $I3_SCRIPT/i3_conky_monitor_display.sh all
    # exit
    bindsym Return mode "$mode_customization"
    bindsym Escape mode "default"
}

# Bindkey sheet mode
set $mode_conky_bindkey Bindkey: [e]nable [1]title_color [2]item_color [3]background_opacity
mode "$mode_conky_bindkey" {
    bindsym e exec conky -c $HOME/.config/conky/conky_config_bindkey
    bindsym 1 mode "$mode_conky_palette_bindkey_item"
    bindsym 2 mode "$mode_conky_palette_bindkey_title"
    bindsym 3 mode "$mode_conky_bindkey_opacity"
    # exit
    bindsym Return mode "$mode_conky"
    bindsym Escape mode "default"
}

# System monitor mode
set $mode_conky_system System: [e]nable [1]title_color [2]item_color [3]background_opacity
mode "$mode_conky_system" {
    bindsym e exec conky -c $HOME/.config/conky/conky_config_system
    bindsym 1 mode "$mode_conky_palette_system_item"
    bindsym 2 mode "$mode_conky_palette_system_title"
    bindsym 3 mode "$mode_conky_system_opacity"
    # exit
    bindsym Return mode "$mode_conky"
    bindsym Escape mode "default"
}

set $mode_conky_system_opacity System opacity: [1] 0% [2] 25% [3] 50% [4] 75% [5] 100%
mode "$mode_conky_system_opacity" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh system bg_opacity opac0; mode "$mode_conky_system"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh system bg_opacity opac25; mode "$mode_conky_system"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh system bg_opacity opac50; mode "$mode_conky_system"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh system bg_opacity opac75; mode "$mode_conky_system"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh system bg_opacity opac100; mode "$mode_conky_system"
    # exit
    bindsym Return mode "$mode_conky_system"
    bindsym Escape mode "default"
}

set $mode_conky_bindkey_opacity Bindkey opacity: [1] 0% [2] 25% [3] 50% [4] 75% [5] 100%
mode "$mode_conky_bindkey_opacity" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey bg_opacity opac0; mode "$mode_conky_bindkey"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey bg_opacity opac25; mode "$mode_conky_bindkey"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey bg_opacity opac50; mode "$mode_conky_bindkey"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey bg_opacity opac75; mode "$mode_conky_bindkey"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey bg_opacity opac100; mode "$mode_conky_bindkey"
    # exit
    bindsym Return mode "$mode_conky_bindkey"
    bindsym Escape mode "default"
}

# Palette mode (color palette for conky bindkey item)
set $mode_conky_palette_bindkey_item Color for conky bindkey item: [1/F1]black [2/F2]red [3/F3]green [4/F4]yellow [5/F5]blue [6/F6]magenta [7/F7]cyan [8/F8]white
mode "$mode_conky_palette_bindkey_item" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color0; mode "$mode_conky_bindkey"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color1; mode "$mode_conky_bindkey"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color2; mode "$mode_conky_bindkey"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color3; mode "$mode_conky_bindkey"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color4; mode "$mode_conky_bindkey"
    bindsym 6  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color5; mode "$mode_conky_bindkey"
    bindsym 7  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color6; mode "$mode_conky_bindkey"
    bindsym 8  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color7; mode "$mode_conky_bindkey"
    bindsym F1 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color8; mode "$mode_conky_bindkey"
    bindsym F2 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color9; mode "$mode_conky_bindkey"
    bindsym F3 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color10; mode "$mode_conky_bindkey"
    bindsym F4 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color11; mode "$mode_conky_bindkey"
    bindsym F5 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color12; mode "$mode_conky_bindkey"
    bindsym F6 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color13; mode "$mode_conky_bindkey"
    bindsym F7 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color14; mode "$mode_conky_bindkey"
    bindsym F8 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey item color15; mode "$mode_conky_bindkey"
    # exit
    bindsym Return mode "$mode_conky_bindkey"
    bindsym Escape mode "default"
}

# Palette mode (color palette for conky bindkey title)
set $mode_conky_palette_bindkey_title Color for conky bindkey title: [1/F1]black [2/F2]red [3/F3]green [4/F4]yellow [5/F5]blue [6/F6]magenta [7/F7]cyan [8/F8]white
mode "$mode_conky_palette_bindkey_title" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color0; mode "$mode_conky_bindkey"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color1; mode "$mode_conky_bindkey"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color2; mode "$mode_conky_bindkey"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color3; mode "$mode_conky_bindkey"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color4; mode "$mode_conky_bindkey"
    bindsym 6  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color5; mode "$mode_conky_bindkey"
    bindsym 7  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color6; mode "$mode_conky_bindkey"
    bindsym 8  exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color7; mode "$mode_conky_bindkey"
    bindsym F1 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color8; mode "$mode_conky_bindkey"
    bindsym F2 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color9; mode "$mode_conky_bindkey"
    bindsym F3 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color10; mode "$mode_conky_bindkey"
    bindsym F4 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color11; mode "$mode_conky_bindkey"
    bindsym F5 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color12; mode "$mode_conky_bindkey"
    bindsym F6 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color13; mode "$mode_conky_bindkey"
    bindsym F7 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color14; mode "$mode_conky_bindkey"
    bindsym F8 exec $I3_SCRIPT/i3_conky_colorchanger.sh bindkey title color15; mode "$mode_conky_bindkey"
    # exit
    bindsym Return mode "$mode_conky_bindkey"
    bindsym Escape mode "default"
}

# Palette mode (color palette for conky system item)
set $mode_conky_palette_system_item Color for conky system item: [1/F1]black [2/F2]red [3/F3]green [4/F4]yellow [5/F5]blue [6/F6]magenta [7/F7]cyan [8/F8]white
mode "$mode_conky_palette_system_item" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color0; mode "$mode_conky_system"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color1; mode "$mode_conky_system"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color2; mode "$mode_conky_system"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color3; mode "$mode_conky_system"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color4; mode "$mode_conky_system"
    bindsym 6  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color5; mode "$mode_conky_system"
    bindsym 7  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color6; mode "$mode_conky_system"
    bindsym 8  exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color7; mode "$mode_conky_system"
    bindsym F1 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color8; mode "$mode_conky_system"
    bindsym F2 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color9; mode "$mode_conky_system"
    bindsym F3 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color10; mode "$mode_conky_system"
    bindsym F4 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color11; mode "$mode_conky_system"
    bindsym F5 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color12; mode "$mode_conky_system"
    bindsym F6 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color13; mode "$mode_conky_system"
    bindsym F7 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color14; mode "$mode_conky_system"
    bindsym F8 exec $I3_SCRIPT/i3_conky_colorchanger.sh system item color15; mode "$mode_conky_system"
    # exit
    bindsym Return mode "$mode_conky_system"
    bindsym Escape mode "default"
}

# Palette mode (color palette for conky system title)
set $mode_conky_palette_system_title Color for conky system title: [1/F1]black [2/F2]red [3/F3]green [4/F4]yellow [5/F5]blue [6/F6]magenta [7/F7]cyan [8/F8]white
mode "$mode_conky_palette_system_title" {
    bindsym 1  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color0; mode "$mode_conky_system"
    bindsym 2  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color1; mode "$mode_conky_system"
    bindsym 3  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color2; mode "$mode_conky_system"
    bindsym 4  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color3; mode "$mode_conky_system"
    bindsym 5  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color4; mode "$mode_conky_system"
    bindsym 6  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color5; mode "$mode_conky_system"
    bindsym 7  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color6; mode "$mode_conky_system"
    bindsym 8  exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color7; mode "$mode_conky_system"
    bindsym F1 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color8; mode "$mode_conky_system"
    bindsym F2 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color9; mode "$mode_conky_system"
    bindsym F3 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color10; mode "$mode_conky_system"
    bindsym F4 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color11; mode "$mode_conky_system"
    bindsym F5 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color12; mode "$mode_conky_system"
    bindsym F6 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color13; mode "$mode_conky_system"
    bindsym F7 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color14; mode "$mode_conky_system"
    bindsym F8 exec $I3_SCRIPT/i3_conky_colorchanger.sh system title color15; mode "$mode_conky_system"
    # exit
    bindsym Return mode "$mode_conky_system"
    bindsym Escape mode "default"
}

# Theme mode (pywal color theme support)
# -- Autotune Xcolor corresponding to current wallpaper to get a better theme consistency
# Pywal (https://github.com/dylanaraps/pywal)
# -- Installation: pip install pywal
set $mode_theme Theme: [e]nable_autotheme [d]isable_autotheme [r]eload_whole_i3 [1]reload_conky [2]reload_dunst [3]reload_xsslock [4]reload_vis [5]reload_zathura
mode "$mode_theme" {
    bindsym e exec $I3_SCRIPT/i3_wal_operator.sh enable && notify-send -u low "Theme Mode" "Auto-theme with pywal"
    bindsym d exec $I3_SCRIPT/i3_wal_operator.sh disable && notify-send -u low "Theme Mode" "Disable auto-theme (kill pywal)"
    bindsym r exec $I3_SCRIPT/i3_reload_operator.sh
    bindsym 1 exec $I3_SCRIPT/i3_conky_colorchanger.sh system all && $I3_SCRIPT/i3_conky_colorchanger.sh bindkey all && notify-send -u low "Theme Mode" "Reload conky"
    bindsym 2 exec $I3_SCRIPT/i3_dunst_walcolor.sh both && notify-send -u low "Theme Mode" "Reload dunst (notifier)"
    bindsym 3 exec $I3_SCRIPT/i3_xsslock_operator.sh current && notify-send -u low "Theme Mode" "Reload xsslock (session lock)"
    bindsym 4 exec $I3_SCRIPT/i3_vis_colorchanger.sh; exec notify-send -u low "Theme Mode" "Reload vis (cli-equalizer)"
    # Zathura-pywal need to be installed mannually [https://github.com/mslcarlson/zathura-pywal]
    bindsym 5 exec zathura-pywal -a 0.7 && notify-send -u low "Theme Mode" "Reload zathura (PDF viewer)"
    # exit
    bindsym Return mode "$mode_customization"
    bindsym Escape mode "default"
}

# Picom mode (animation, blur, and transparency support)
set $mode_picom Picom (Xcompositor): [0]no_effect [1]blur [2]transparency [s]et_default_picom
mode "$mode_picom" {
    bindsym 0 exec killall picom; mode "default"
    bindsym 1 exec $I3_SCRIPT/i3_picom_operator.sh blur; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_picom_operator.sh transparency; mode "default"
    bindsym f mode "$mode_flashfocus"
    bindsym s mode "$mode_set_default_picom"
    # exit
    bindsym Return mode "$mode_customization"
    bindsym Escape mode "default"
}

# Set default picom (within picom mode)
set $mode_set_default_picom Set default picom: [1]blur [2]transparency
mode "$mode_set_default_picom" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh picom blur; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh picom transparency; mode "default"
    # exit
    bindsym Return mode "$mode_picom"
    bindsym Escape mode "default"
}

# Flashfocus mode (flash using picom)
set $mode_flashfocus Flashfocus (using picom): [e]nable_flashfocus [d]isable_flashfocus [r]efresh_flashfocus [s]et_default_flashfocus
mode "$mode_flashfocus" {
    # Flashfocus
    bindsym e exec flashfocus; mode "default"
    bindsym d exec killall flashfocus; mode "default"
    bindsym r exec killall flashfocus && flashfocus; mode "default"
    bindsym s mode "$mode_set_default_flashfocus"
    # exit
    bindsym Return mode "$mode_customization"
    bindsym Escape mode "default"
}

# Set default flashfocus (within flashfocus mode)
set $mode_set_default_flashfocus Set default flashfocus: [1]blur [2]transparency [3]opaque
mode "$mode_set_default_flashfocus" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus blur; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus transparency; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh flashfocus opaque; mode "default"
    # exit
    bindsym Return mode "$mode_flashfocus"
    bindsym Escape mode "default"
}
