# vim: syntax=i3
# ======================================================================================
# All About Modes
# ======================================================================================
# This is to save all bindkeys of modes

# Insert mode
# Disable i3 configured keybindings. Inspired by vimium insert mode
set $mode_insert Insert: I3 bindkeys are disabled. Press Ctrl+left_bracket ([) to exit insert mode and get I3 bindkeys back
bindsym Mod4+Shift+i mode "$mode_insert"
mode "$mode_insert" {
    bindsym Ctrl+bracketleft mode "default"
}

# Vim keybinding mode
set $mode_vim_keybinding Vim keybindings: [(NONE/Alt/(Ctrl+Alt))+h/j/k/l]:Left/Down/Up/Right (repeat 1/4/8 times) [g/G]:Home/End [Ctrl+d/u]:PageDown/PageUp [d/i]:Delete/Insert [Ctrl+Esc]:Escape binding mode
bindsym Mod4+Ctrl+bracketleft mode "$mode_vim_keybinding"
mode "$mode_vim_keybinding" {
    # Navigation keys
    bindsym --release h exec xdotool key --clearmodifiers Left
    bindsym --release j exec xdotool key --clearmodifiers Down
    bindsym --release k exec xdotool key --clearmodifiers Up
    bindsym --release l exec xdotool key --clearmodifiers Right
    # Repeat navigation keys (4 times), short delay time is set to avoid key confrontation
    bindsym --release Mod1+h exec xdotool key --clearmodifiers --delay 0.01 Left Left Left Left
    bindsym --release Mod1+j exec xdotool key --clearmodifiers --delay 0.01 Down Down Down Down
    bindsym --release Mod1+k exec xdotool key --clearmodifiers --delay 0.01 Up Up Up Up Up
    bindsym --release Mod1+l exec xdotool key --clearmodifiers --delay 0.01 Right Right Right Right
    # Repeat navigation keys (8 times), short delay time is set to avoid key confrontation
    bindsym --release Ctrl+Mod1+h exec xdotool key --clearmodifiers --delay 0.005 Left Left Left Left Left Left Left Left
    bindsym --release Ctrl+Mod1+j exec xdotool key --clearmodifiers --delay 0.005 Down Down Down Down Down Down Down Down
    bindsym --release Ctrl+Mod1+k exec xdotool key --clearmodifiers --delay 0.005 Up Up Up Up Up Up Up Up Up Up
    bindsym --release Ctrl+Mod1+l exec xdotool key --clearmodifiers --delay 0.005 Right Right Right Right Right Right Right Right
    # Special keys
    bindsym --release g       exec xdotool key --clearmodifiers Home
    bindsym --release Shift+g exec xdotool key --clearmodifiers End
    bindsym --release d       exec xdotool key --clearmodifiers Delete
    bindsym --release i       exec xdotool key --clearmodifiers Insert
    bindsym --release Ctrl+d  exec xdotool key --clearmodifiers Next
    bindsym --release Ctrl+u  exec xdotool key --clearmodifiers Prior
    # i3 keybindings compatibility: move focus between output monitors ([/,/./])
    bindsym Mod4+bracketleft  focus output up
    bindsym Mod4+bracketright focus output down
    bindsym Mod4+period       focus output right
    bindsym Mod4+comma        focus output left
    # i3 keybindings compatibility: change focus
    bindsym Mod4+h focus left
    bindsym Mod4+j focus down
    bindsym Mod4+k focus up
    bindsym Mod4+l focus right
    # i3 keybindings compatibility: change focus between tiling/floating windows
    bindsym Mod4+space focus mode_toggle
    # i3 keybindings compatibility: toggle tiling/floating modes
    bindsym Mod4+Shift+space floating toggle
    # i3 keybindings compatibility: move focus window
    bindsym Mod4+Shift+h move left 50px
    bindsym Mod4+Shift+j move down 50px
    bindsym Mod4+Shift+k move up 50px
    bindsym Mod4+Shift+l move right 50px
    # i3 keybindings compatibility: kill focus window
    bindsym Mod4+Shift+q kill
    # Exit mode: "Ctrl"+"[" (vim-like Escape)
    bindsym Ctrl+bracketleft mode "default"
}

# Window layout mode
# Autotiling [https://github.com/nwg-piotr/autotiling]
# -- Installation: pip install autotiling
set $mode_window_layout Window layout: [h]split [v]split [t]abbed [s]tacking [f]ullcreen [F]ullscreen_global [e]nable_auto_dwindling [d]isable_auto_dwindling
bindsym Mod4+Shift+w mode "$mode_window_layout"
mode "$mode_window_layout" {
    bindsym h       layout splith
    bindsym v       layout splitv
    bindsym t       layout tabbed
    bindsym s       layout stacking
    bindsym f       fullscreen toggle
    bindsym Shift+f fullscreen toggle global
    bindsym e       exec $I3_SCRIPT/i3_autotiling_operator.sh enable_dwindling; mode "default"
    bindsym d       exec $I3_SCRIPT/i3_autotiling_operator.sh disable_dwindling; mode "default"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Titlebar mode
set $mode_titlebar Titlebar: [n]ew_name [r]estore_default_title [s]how_all_titles [h]ide_all_titles [t]oggle_all_titles [f]ontsize [T]itlebar_style
bindsym Mod4+Shift+t mode "$mode_titlebar"
mode "$mode_titlebar" {
    bindsym n       exec i3-msg title_format $(rofi -dmenu -lines 0 -p "New title name")
    bindsym r       title_format "%title"; exec notify-send -u low "i3 titlebar" "Restore Default Title Name"
    bindsym s       [all] border normal $default_border_width; exec notify-send -u low "i3 titlebar" "Show All Titlebars"
    bindsym h       [all] border pixel $default_border_width; exec notify-send -u low "i3 titlebar" "Hide All Titlebars"
    bindsym t       [all] border toggle $default_border_width; exec notify-send -u low "i3 titlebar" "Toggle All Titlebars"
    bindsym f       mode "$mode_titlebar_fontsize"
    bindsym Shift+t mode "$mode_titlebar_style"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Titlebar fontsize mode (within titlebar mode)
set $mode_titlebar_fontsize Titlebar fontsize: [1] 8pix [2] 9pix [3] 10pix [4] 11pix [5] 12pix [6] 13pix [7] 14pix [8] 15pix [9] 16pix [0] 0pix
mode "$mode_titlebar_fontsize" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 8; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 9; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 10; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 11; mode "default"
    bindsym 5 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 12; mode "default"
    bindsym 6 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 13; mode "default"
    bindsym 7 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 14; mode "default"
    bindsym 8 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 15; mode "default"
    bindsym 9 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 16; mode "default"
    bindsym 0 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_fontsize 0; mode "default"
    # Back to titlebar mode: "Enter"
    bindsym Return mode "$mode_titlebar"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Titlebar style mode (within titlebar mode)
set $mode_titlebar_style Titlebar style: [1/2]tiling_window normal/pixel (enable/disable titlebar) [3/4]floating_window normal/pixel (enable/disable titlebar)
mode "$mode_titlebar_style" {
    bindsym 1 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_style normal; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_default_valuechanger.sh titlebar_style pixel; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_default_valuechanger.sh floating_titlebar_style normal; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_default_valuechanger.sh floating_titlebar_style pixel; mode "default"
    # Back to titlebar mode: "Enter"
    bindsym Return mode "$mode_titlebar"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Mark mode [use rofi as input]
# Automark windows [https://github.com/lincheney/i3-automark] is required
set $mode_mark Mark: [m]ark [u]nmark [(Shift)+single-quote/semi-column]:(do not show titlebar but) goto/swap marked window [e]nable_automark [d]isable_automark
bindsym Mod4+Shift+m mode "$mode_mark"
mode "$mode_mark" {
    bindsym m                exec $I3_SCRIPT/i3_mark_operator.sh mark rofi none title_on; mode "default"
    bindsym u                exec $I3_SCRIPT/i3_mark_operator.sh unmark rofi none title_on; mode "default"
    bindsym apostrophe       exec $I3_SCRIPT/i3_mark_operator.sh show_then_goto rofi none title_on; mode "default"
    bindsym Shift+apostrophe exec $I3_SCRIPT/i3_mark_operator.sh show_then_goto rofi none title_off; mode "default"
    bindsym semicolon        exec $I3_SCRIPT/i3_mark_operator.sh show_then_swap rofi none title_on; mode "default"
    bindsym Shift+semicolon  exec $I3_SCRIPT/i3_mark_operator.sh show_then_swap rofi none title_off; mode "default"
    bindsym e                exec $I3_SCRIPT/i3_automark_operator.sh enable; mode "default"
    bindsym d                exec $I3_SCRIPT/i3_automark_operator.sh disable; mode "default"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Workspace mode
set $mode_workspace Workspace: [n]ew_workspace_name [r]estore_workspace [s]ave_workspace [S]wap_workspace
bindsym Mod4+Shift+p mode $mode_workspace
mode "$mode_workspace" {
    bindsym n       exec i3-msg rename workspace to $(rofi -dmenu -line 0 -p "New Workspace Name")
    bindsym r       mode $mode_restore_workspace
    bindsym s       mode $mode_save_workspace
    bindsym Shift+s mode $mode_swap_workspace
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Swap workspace mode (integrated with workspace mode)
set $mode_swap_workspace Swap workspace: [Win+1~10]:A1-A10 [Win+F1~F10]:B1-B10 [Ctrl+F1~F10]:C1-C10 [Alt+F1~F10]:D1-D10
bindsym Mod4+p mode $mode_swap_workspace
mode "$mode_swap_workspace" {
    bindsym Mod4+1   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 1; mode "default"
    bindsym Mod4+2   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 2; mode "default"
    bindsym Mod4+3   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 3; mode "default"
    bindsym Mod4+4   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 4; mode "default"
    bindsym Mod4+5   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 5; mode "default"
    bindsym Mod4+6   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 6; mode "default"
    bindsym Mod4+7   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 7; mode "default"
    bindsym Mod4+8   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 8; mode "default"
    bindsym Mod4+9   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 9; mode "default"
    bindsym Mod4+0   exec $I3_SCRIPT/i3_workspace_operator.sh swap A 10; mode "default"
    bindsym Mod4+F1  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 1; mode "default"
    bindsym Mod4+F2  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 2; mode "default"
    bindsym Mod4+F3  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 3; mode "default"
    bindsym Mod4+F4  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 4; mode "default"
    bindsym Mod4+F5  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 5; mode "default"
    bindsym Mod4+F6  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 6; mode "default"
    bindsym Mod4+F7  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 7; mode "default"
    bindsym Mod4+F8  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 8; mode "default"
    bindsym Mod4+F9  exec $I3_SCRIPT/i3_workspace_operator.sh swap B 9; mode "default"
    bindsym Mod4+F10 exec $I3_SCRIPT/i3_workspace_operator.sh swap B 10; mode "default"
    bindsym Ctrl+F1  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 1; mode "default"
    bindsym Ctrl+F2  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 2; mode "default"
    bindsym Ctrl+F3  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 3; mode "default"
    bindsym Ctrl+F4  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 4; mode "default"
    bindsym Ctrl+F5  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 5; mode "default"
    bindsym Ctrl+F6  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 6; mode "default"
    bindsym Ctrl+F7  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 7; mode "default"
    bindsym Ctrl+F8  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 8; mode "default"
    bindsym Ctrl+F9  exec $I3_SCRIPT/i3_workspace_operator.sh swap C 9; mode "default"
    bindsym Ctrl+F10 exec $I3_SCRIPT/i3_workspace_operator.sh swap C 10; mode "default"
    bindsym Mod1+F1  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 1; mode "default"
    bindsym Mod1+F2  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 2; mode "default"
    bindsym Mod1+F3  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 3; mode "default"
    bindsym Mod1+F4  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 4; mode "default"
    bindsym Mod1+F5  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 5; mode "default"
    bindsym Mod1+F6  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 6; mode "default"
    bindsym Mod1+F7  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 7; mode "default"
    bindsym Mod1+F8  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 8; mode "default"
    bindsym Mod1+F9  exec $I3_SCRIPT/i3_workspace_operator.sh swap D 9; mode "default"
    bindsym Mod1+F10 exec $I3_SCRIPT/i3_workspace_operator.sh swap D 10; mode "default"
    # Back to workspace mode: "Enter"
    bindsym Return mode "$mode_workspace"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Save workspace mode (within workspace mode)
set $mode_save_workspace Save workspace: [Win+1~10]:A1-A10 [Win+F1~F10]:B1-B10 [Ctrl+1~10]:C1-C10 [Alt+F1~F10]:D1-D10 [s]ave_all_workspaces
mode "$mode_save_workspace" {
    bindsym Mod4+1   exec i3-resurrect save -w 1:A1; mode "default"
    bindsym Mod4+2   exec i3-resurrect save -w 2:A2; mode "default"
    bindsym Mod4+3   exec i3-resurrect save -w 3:A3; mode "default"
    bindsym Mod4+4   exec i3-resurrect save -w 4:A4; mode "default"
    bindsym Mod4+5   exec i3-resurrect save -w 5:A5; mode "default"
    bindsym Mod4+6   exec i3-resurrect save -w 6:A6; mode "default"
    bindsym Mod4+7   exec i3-resurrect save -w 7:A7; mode "default"
    bindsym Mod4+8   exec i3-resurrect save -w 8:A8; mode "default"
    bindsym Mod4+9   exec i3-resurrect save -w 9:A9; mode "default"
    bindsym Mod4+0   exec i3-resurrect save -w 10:A10; mode "default"
    bindsym Mod4+F1  exec i3-resurrect save -w 11:B1; mode "default"
    bindsym Mod4+F2  exec i3-resurrect save -w 12:B2; mode "default"
    bindsym Mod4+F3  exec i3-resurrect save -w 13:B3; mode "default"
    bindsym Mod4+F4  exec i3-resurrect save -w 14:B4; mode "default"
    bindsym Mod4+F5  exec i3-resurrect save -w 15:B5; mode "default"
    bindsym Mod4+F6  exec i3-resurrect save -w 16:B6; mode "default"
    bindsym Mod4+F7  exec i3-resurrect save -w 17:B7; mode "default"
    bindsym Mod4+F8  exec i3-resurrect save -w 18:B8; mode "default"
    bindsym Mod4+F9  exec i3-resurrect save -w 19:B9; mode "default"
    bindsym Mod4+F10 exec i3-resurrect save -w 20:B10; mode "default"
    bindsym Ctrl+F1  exec i3-resurrect save -w 21:C1; mode "default"
    bindsym Ctrl+F2  exec i3-resurrect save -w 22:C2; mode "default"
    bindsym Ctrl+F3  exec i3-resurrect save -w 23:C3; mode "default"
    bindsym Ctrl+F4  exec i3-resurrect save -w 24:C4; mode "default"
    bindsym Ctrl+F5  exec i3-resurrect save -w 25:C5; mode "default"
    bindsym Ctrl+F6  exec i3-resurrect save -w 26:C6; mode "default"
    bindsym Ctrl+F7  exec i3-resurrect save -w 27:C7; mode "default"
    bindsym Ctrl+F8  exec i3-resurrect save -w 28:C8; mode "default"
    bindsym Ctrl+F9  exec i3-resurrect save -w 29:C9; mode "default"
    bindsym Ctrl+F10 exec i3-resurrect save -w 30:C10; mode "default"
    bindsym Mod1+F1  exec i3-resurrect save -w 31:D1; mode "default"
    bindsym Mod1+F2  exec i3-resurrect save -w 32:D2; mode "default"
    bindsym Mod1+F3  exec i3-resurrect save -w 33:D3; mode "default"
    bindsym Mod1+F4  exec i3-resurrect save -w 34:D4; mode "default"
    bindsym Mod1+F5  exec i3-resurrect save -w 35:D5; mode "default"
    bindsym Mod1+F6  exec i3-resurrect save -w 36:D6; mode "default"
    bindsym Mod1+F7  exec i3-resurrect save -w 37:D7; mode "default"
    bindsym Mod1+F8  exec i3-resurrect save -w 38:D8; mode "default"
    bindsym Mod1+F9  exec i3-resurrect save -w 39:D9; mode "default"
    bindsym Mod1+F10 exec i3-resurrect save -w 40:D10; mode "default"
    # Save all workspaces
    bindsym s exec $I3_SCRIPT/i3_workspace_operator.sh save_all; mode "$mode_workspace"
    # Back to workspace mode: "Enter"
    bindsym Return mode "$mode_workspace"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Restore workspace mode (within workspace mode)
set $mode_restore_workspace Restore workspace: [Win+1~10]:A1-A10 [Win+F1~F10]:B1-B10 [Ctrl+F1~F10]:C1-C10 [Alt+F1~F10]:D1-D10 [r]estore_all_workspaces
mode "$mode_restore_workspace" {
    bindsym Mod4+1   exec i3-resurrect restore -w 1:A1; mode "default"
    bindsym Mod4+2   exec i3-resurrect restore -w 2:A2; mode "default"
    bindsym Mod4+3   exec i3-resurrect restore -w 3:A3; mode "default"
    bindsym Mod4+4   exec i3-resurrect restore -w 4:A4; mode "default"
    bindsym Mod4+5   exec i3-resurrect restore -w 5:A5; mode "default"
    bindsym Mod4+6   exec i3-resurrect restore -w 6:A6; mode "default"
    bindsym Mod4+7   exec i3-resurrect restore -w 7:A7; mode "default"
    bindsym Mod4+8   exec i3-resurrect restore -w 8:A8; mode "default"
    bindsym Mod4+9   exec i3-resurrect restore -w 9:A9; mode "default"
    bindsym Mod4+0   exec i3-resurrect restore -w 10:A10; mode "default"
    bindsym Mod4+F1  exec i3-resurrect restore -w 11:B1; mode "default"
    bindsym Mod4+F2  exec i3-resurrect restore -w 12:B2; mode "default"
    bindsym Mod4+F3  exec i3-resurrect restore -w 13:B3; mode "default"
    bindsym Mod4+F4  exec i3-resurrect restore -w 14:B4; mode "default"
    bindsym Mod4+F5  exec i3-resurrect restore -w 15:B5; mode "default"
    bindsym Mod4+F6  exec i3-resurrect restore -w 16:B6; mode "default"
    bindsym Mod4+F7  exec i3-resurrect restore -w 17:B7; mode "default"
    bindsym Mod4+F8  exec i3-resurrect restore -w 18:B8; mode "default"
    bindsym Mod4+F9  exec i3-resurrect restore -w 19:B9; mode "default"
    bindsym Mod4+F10 exec i3-resurrect restore -w 20:B10; mode "default"
    bindsym Ctrl+F1  exec i3-resurrect restore -w 21:C1; mode "default"
    bindsym Ctrl+F2  exec i3-resurrect restore -w 22:C2; mode "default"
    bindsym Ctrl+F3  exec i3-resurrect restore -w 23:C3; mode "default"
    bindsym Ctrl+F4  exec i3-resurrect restore -w 24:C4; mode "default"
    bindsym Ctrl+F5  exec i3-resurrect restore -w 25:C5; mode "default"
    bindsym Ctrl+F6  exec i3-resurrect restore -w 26:C6; mode "default"
    bindsym Ctrl+F7  exec i3-resurrect restore -w 27:C7; mode "default"
    bindsym Ctrl+F8  exec i3-resurrect restore -w 28:C8; mode "default"
    bindsym Ctrl+F9  exec i3-resurrect restore -w 29:C9; mode "default"
    bindsym Ctrl+F10 exec i3-resurrect restore -w 30:C10; mode "default"
    bindsym Mod1+F1  exec i3-resurrect restore -w 31:D1; mode "default"
    bindsym Mod1+F2  exec i3-resurrect restore -w 32:D2; mode "default"
    bindsym Mod1+F3  exec i3-resurrect restore -w 33:D3; mode "default"
    bindsym Mod1+F4  exec i3-resurrect restore -w 34:D4; mode "default"
    bindsym Mod1+F5  exec i3-resurrect restore -w 35:D5; mode "default"
    bindsym Mod1+F6  exec i3-resurrect restore -w 36:D6; mode "default"
    bindsym Mod1+F7  exec i3-resurrect restore -w 37:D7; mode "default"
    bindsym Mod1+F8  exec i3-resurrect restore -w 38:D8; mode "default"
    bindsym Mod1+F9  exec i3-resurrect restore -w 39:D9; mode "default"
    bindsym Mod1+F10 exec i3-resurrect restore -w 40:D10; mode "default"
    # Restore all workspaces
    bindsym r exec $I3_SCRIPT/i3_workspace_operator.sh restore_all; mode "$mode_workspace"
    # Back to workspace mode: "Enter"
    bindsym Return mode "$mode_workspace"
    # Exit mode: "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Resize window (you can also use the mouse for that)
set $mode_resize Resize: [Ctrl/NONE/Alt+(vim-key)]:S/M/L step (left/down/up/right) [Win+Shift+(vim-key)]:move (left/down/up/right)
bindsym Ctrl+Mod1+r mode "$mode_resize"
mode "$mode_resize" {
    # Resize in small step
    bindsym Ctrl+h resize shrink width 1 px or 1 ppt
    bindsym Ctrl+j resize grow height 1 px or 1 ppt
    bindsym Ctrl+k resize shrink height 1 px or 1 ppt
    bindsym Ctrl+l resize grow width 1 px or 1 ppt
    # Resize in intermediate step
    bindsym h resize shrink width 5 px or 5 ppt
    bindsym j resize grow height 5 px or 5 ppt
    bindsym k resize shrink height 5 px or 5 ppt
    bindsym l resize grow width 5 px or 5 ppt
    # Resize in large step
    bindsym Mod1+h resize shrink width 10 px or 10 ppt
    bindsym Mod1+j resize grow height 10 px or 10 ppt
    bindsym Mod1+k resize shrink height 10 px or 10 ppt
    bindsym Mod1+l resize grow width 10 px or 10 ppt
    # i3 keybindings compatibility: move focus window
    bindsym Mod4+Shift+h move left
    bindsym Mod4+Shift+j move down
    bindsym Mod4+Shift+k move up
    bindsym Mod4+Shift+l move right
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Redshift mode
# -- https://confluence.jaytaala.com/display/TKB/Redshift+on+i3wm
set $mode_redshift Redshift: [1] 2000K [2] 2500K [3] 3000K [4] 3500K [5] 4000K [6] 4500K [7] 5000K [8] 5500K [9] 6000K [0] killall_reshift
bindsym Mod4+Shift+z mode "$mode_redshift"
mode "$mode_redshift" {
    bindsym 1 exec redshift -m randr -P -O 2000
    bindsym 2 exec redshift -m randr -P -O 2500
    bindsym 3 exec redshift -m randr -P -O 3000
    bindsym 4 exec redshift -m randr -P -O 3500
    bindsym 5 exec redshift -m randr -P -O 4000
    bindsym 6 exec redshift -m randr -P -O 4500
    bindsym 7 exec redshift -m randr -P -O 5000
    bindsym 8 exec redshift -m randr -P -O 5500
    bindsym 9 exec redshift -m randr -P -O 6000
    bindsym 0 exec redshift -m randr -P -x; mode "default"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# System manager mode
set $mode_system System: [l]ock [e]xit [s]uspend [h]ibernate [r]eboot [p]oweroff [c/C]affeine on/off
bindsym Mod4+Shift+Escape mode "$mode_system"
mode "$mode_system" {
    bindsym l exec loginctl lock-session && sleep 1 && xset dpms force off; mode "default"
    bindsym r exec systemctl reboot; mode "default"
    bindsym p exec systemctl poweroff; mode "default"
    bindsym e exec i3-msg exit; mode "default"
    bindsym s exec i3-msg suspend; mode "default"
    bindsym h exec i3-msg hibernate; mode "default"
    # Set screensaver to 100 min (caffeine-like function)
    bindsym c exec xset dpms 6000 6000 6000 s 6000 6000; exec notify-send -u low "system xset" "Caffeine On (Disable Default X Screensaver)"; mode "default"
    # Set screensaver to 10 min (default screensaver)
    bindsym Shift+c exec xset dpms 600 600 600 s 600 600; exec notify-send -u low "system xset" "Caffeine Off (Enable Default X screensaver)"; mode "default"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Dunst notifier mode
bindsym Mod4+Shift+v mode "$mode_dunst"
set $mode_dunst Dunst (notification daemon): [c]lose [o]pen_context [h]istory-pop [C]lose_all [p]ause_dunst [r]esume_dunst [R]eload_dunst
mode "$mode_dunst" {
    bindsym c       exec dunstctl close
    bindsym o       exec dunstctl context
    bindsym h       exec dunstctl history-pop
    bindsym Shift+c exec dunstctl close-all
    bindsym p       exec dunstctl set-paused true; mode "default"
    bindsym r       exec dunstctl set-paused false
    bindsym Shift+r exec $I3_SCRIPT/i3_dunst_walcolor.sh reload
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Player mode with youtube-like player control (j/k/l: previous/play-pause/next)
# Note: spotifyd, vlc must be installed
bindsym Ctrl+Mod1+p mode "$mode_player"
set $mode_player Player: [(Shift)+i]nfo [v]olume_mode [{Ctrl+Alt}/Ctrl/NONE/Alt+(Shift)+j/k/l]:{selector}/spotify/current/vlc (prev)/-10s/(stop)/play-pause/(next)/+10s [Ctrl+Alt+Shift+Space]:stop all
mode "$mode_player" {
    # Show playing information
    bindsym i       exec $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Shift+i exec $I3_SCRIPT/i3_MPRIS_notification.sh playing_all
    # Volume mode (with pulsemixer)
    bindsym v mode "$mode_volume"
    # Media player control for spotifyd (spotify daemon)
    bindsym Ctrl+j       exec playerctl -p spotifyd position 10-
    bindsym Ctrl+k       exec playerctl -p spotifyd play-pause
    bindsym Ctrl+l       exec playerctl -p spotifyd position 10+
    bindsym Ctrl+Shift+j exec playerctl -p spotifyd previous
    bindsym Ctrl+Shift+k exec playerctl -p spotifyd stop
    bindsym Ctrl+Shift+l exec playerctl -p spotifyd next
    # Media player control
    bindsym j       exec playerctl position 10-
    bindsym k       exec playerctl play-pause && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym l       exec playerctl position 10+
    bindsym Shift+j exec playerctl previous && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Shift+k exec playerctl stop
    bindsym Shift+l exec playerctl next && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    # Media player control for vlc (media player)
    bindsym Mod1+j       exec playerctl -p vlc position 10-
    bindsym Mod1+k       exec playerctl -p vlc play-pause
    bindsym Mod1+l       exec playerctl -p vlc position 10+
    bindsym Mod1+Shift+j exec playerctl -p vlc previous
    bindsym Mod1+Shift+k exec playerctl -p vlc stop
    bindsym Mod1+Shift+l exec playerctl -p vlc next
    # Interactive media player control
    bindsym Ctrl+Mod1+j exec playerctl position 10- -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS +10s') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Ctrl+Mod1+k exec playerctl play-pause -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS play-pause') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Ctrl+Mod1+l exec playerctl position 10+ -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS -10s') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Ctrl+Mod1+Shift+j exec playerctl previous -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS previous') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Ctrl+Mod1+Shift+k exec playerctl stop -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS stop') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    bindsym Ctrl+Mod1+Shift+l exec playerctl next -p $(playerctl --list-all | rofi -dmenu  -auto-select -p 'MPRIS next') && $I3_SCRIPT/i3_MPRIS_notification.sh playing
    # Stop all media players
    bindsym Ctrl+Mod1+Shift+space exec playerctl stop --all-players
    # Dunst compatibility: notification actions
    bindsym Ctrl+space       exec dunstctl close
    bindsym Ctrl+Shift+space exec dunstctl history-pop
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Volume mode
# Note: pulsemixer must be installed
set $mode_volume Volume: [s]how_volume [p]ulsemixer [Ctrl/NONE/Alt+-/+]: volume level 1%/5%/10% decrease/increase [0]: Mute/Unmute
mode "$mode_volume" {
    # Show volume
    bindsym s exec $I3_SCRIPT/i3_pulsemixer_notification.sh
    # Pulsermixer (CLI and curses mixer for PulseAudio)
    bindsym p exec --no-startup-id kitty --class floating_kitty -e pulsemixer; mode "default"
    # Volume (small/intermediate/large step)
    bindsym Ctrl+minus exec pulsemixer --change-volume -1 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    bindsym Ctrl+plus  exec pulsemixer --change-volume +1 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    bindsym minus      exec pulsemixer --change-volume -5 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    bindsym plus       exec pulsemixer --change-volume +5 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    bindsym Mod1+minus exec pulsemixer --change-volume -10 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    bindsym Mod1+plus  exec pulsemixer --change-volume +10 && $I3_SCRIPT/i3_pulsemixer_notification.sh
    # Toggle mute
    bindsym 0 exec pulsemixer --toggle-mute && $I3_SCRIPT/i3_pulsemixer_notification.sh
    # Dunst compatibility: notification actions
    bindsym Ctrl+space       exec dunstctl close
    bindsym Ctrl+Shift+space exec dunstctl history-pop
    # Back to player mode: "Enter"
    bindsym Return mode "$mode_player"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Mouse emulation by keyboard mapping
# -- https://www.reddit.com/r/i3wm/comments/ltjoaa/tip_mouse_emulation_using_hjkl/
# Note: xdotool must be installed
set $mode_mouse Mouse emulator: [Ctrl/NONE/Alt+(vim-key)]:S/M/L move [Ctrl/NONE/Alt+u/i/o]:L/M/R click-and-hold/click/release [Ctrl/NONE/Alt+,/.]:S/M/L scroll down/up [e]nable_autohide [d]isable_autohide
bindsym Ctrl+Mod1+m mode "$mode_mouse"
mode "$mode_mouse" {
    # left up down right --smaller steps
    bindsym Ctrl+h exec "xdotool mousemove_relative -- -5 0"
    bindsym Ctrl+j exec "xdotool mousemove_relative 0 5"
    bindsym Ctrl+k exec "xdotool mousemove_relative -- 0 -5"
    bindsym Ctrl+l exec "xdotool mousemove_relative 5 0"
    # left up down right
    bindsym h exec "xdotool mousemove_relative -- -50 0"
    bindsym j exec "xdotool mousemove_relative 0 50"
    bindsym k exec "xdotool mousemove_relative -- 0 -50"
    bindsym l exec "xdotool mousemove_relative 50 0"
    # left up down right -- larger steps
    bindsym Mod1+h exec "xdotool mousemove_relative -- -200 0"
    bindsym Mod1+j exec "xdotool mousemove_relative 0 200"
    bindsym Mod1+k exec "xdotool mousemove_relative -- 0 -200"
    bindsym Mod1+l exec "xdotool mousemove_relative 200 0"
    # click-and-hold: left mid right
    bindsym Ctrl+u exec "xdotool mousedown 1"
    bindsym Ctrl+i exec "xdotool mousedown 2"
    bindsym Ctrl+o exec "xdotool mousedown 3"
    # click: left mid right
    bindsym u exec "xdotool click 1"
    bindsym i exec "xdotool click 2"
    bindsym o exec "xdotool click 3"
    # release: left mid right
    bindsym Mod1+u exec "xdotool mouseup 1"
    bindsym Mod1+i exec "xdotool mouseup 2"
    bindsym Mod1+o exec "xdotool mouseup 3"
    # click: scroll wheel up/down
    bindsym Ctrl+period exec "xdotool click 4"
    bindsym Ctrl+comma  exec "xdotool click 5"
    # click: scroll wheel up/down -- repeat 2 times
    bindsym period exec "xdotool click --delay 0.01 --repeat 2 4"
    bindsym comma  exec "xdotool click --delay 0.01 --repeat 2 5"
    # click: scroll wheel up/down -- repeat 10 times
    bindsym Mod1+period exec "xdotool click --delay 0.005 --repeat 10 4"
    bindsym Mod1+comma  exec "xdotool click --delay 0.005 --repeat 10 5"
    # cursor autohide [unclutter-xfixes need to be installed]
    bindsym e exec "unclutter --timeout 3 --start-hidden"; mode "default"
    bindsym d exec "killall unclutter"; mode "default"
    # i3 keybindings compatibility: move focus between output monitors ([/,/./])
    bindsym Mod4+bracketleft  focus output up
    bindsym Mod4+bracketright focus output down
    bindsym Mod4+period       focus output right
    bindsym Mod4+comma        focus output left
    # i3 keybindings compatibility: change focus
    bindsym Mod4+h focus left
    bindsym Mod4+j focus down
    bindsym Mod4+k focus up
    bindsym Mod4+l focus right
    # i3 keybindings compatibility: change focus between tiling/floating windows
    bindsym Mod4+space focus mode_toggle
    # i3 keybindings compatibility: toggle tiling/floating modes
    bindsym Mod4+Shift+space floating toggle
    # i3 keybindings compatibility: move focus window
    bindsym Mod4+Shift+h move left 50px
    bindsym Mod4+Shift+j move down 50px
    bindsym Mod4+Shift+k move up 50px
    bindsym Mod4+Shift+l move right 50px
    # i3 keybindings compatibility: mouse button actions
    bindsym Mod4+i kill
    bindsym Mod4+o floating toggle
    # i3 keybindings compatibility: kill focus window
    bindsym Mod4+Shift+q kill
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Display mode (use xrandr)
# -- https://thevaluable.dev/i3-config-mouseless/
# For my monitor physical setup: laptop [eDP1 13'] + external {[HDMI1 27'], [HDMI1 24']}
set $mode_display Display: [a]utomatic [A]randr [1/2]eDP1/HDMI1 Only [3/4]eDP1+HDMI1 Joint/Mirror [H/h]HDMI1 1920x1080/1920x1200 [E/e]eDP1 1920x1080/1440x810 [P/p]Primary HDMI1/eDP1
bindsym Mod4+Shift+x mode "$mode_display"
mode "$mode_display" {
    # Set automatically with preset scripts
    bindsym a exec $I3_SCRIPT/i3_display_monitor_adopter.sh auto; mode "default"
    # Arandr (xrandr GUI)
    bindsym Shift+a exec arandr; mode "default"
    # Preset display sets
    bindsym 1 exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_only; mode "default"
    bindsym 2 exec $I3_SCRIPT/i3_display_monitor_adopter.sh option HDMI1_only; mode "default"
    bindsym 3 exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_HDMI1_joint; mode "default"
    bindsym 4 exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_HDMI1_mirror; mode "default"
    # Monitor resolution
    bindsym h       exec $I3_SCRIPT/i3_display_monitor_adopter.sh option HDMI1_extend; mode "default"
    bindsym Shift+h exec $I3_SCRIPT/i3_display_monitor_adopter.sh option HDMI1_default; mode "default"
    bindsym e       exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_shrink; mode "default"
    bindsym Shift+e exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_default; mode "default"
    # Primary Monitor
    bindsym p       exec $I3_SCRIPT/i3_display_monitor_adopter.sh option eDP1_primary; mode "default"
    bindsym Shift+p exec $I3_SCRIPT/i3_display_monitor_adopter.sh option HDMI1_primary; mode "default"
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}

# Backlight mode
# Note: xbacklight must be installed
set $mode_backlight Backlight: [s]how_backlight [Ctrl/NONE/Alt+-/+]: backlight level 1%/5%/10% decrease/increase [Ctrl/(Ctrl+Alt)/Alt+Shift+0]: set to 0.1%/50%/100%
bindsym Ctrl+Mod1+x mode "$mode_backlight"
mode "$mode_backlight" {
    # Show backlight
    bindsym s exec $I3_SCRIPT/i3_xbacklight_notification.sh
    # Backlight (small/intermediate/large step)
    bindsym Ctrl+minus exec xbacklight -dec 1 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym Ctrl+plus  exec xbacklight -inc 1 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym minus      exec xbacklight -dec 5 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym plus       exec xbacklight -inc 5 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym Mod1+minus exec xbacklight -dec 10 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym Mod1+plus  exec xbacklight -inc 10 && $I3_SCRIPT/i3_xbacklight_notification.sh
    # Backlight (Min/Intermediate/Max)
    bindsym Ctrl+Shift+0      exec xbacklight -set 0.1 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym Ctrl+Mod1+Shift+0 exec xbacklight -set 50.1 && $I3_SCRIPT/i3_xbacklight_notification.sh
    bindsym Mod1+Shift+0      exec xbacklight -set 100.0 && $I3_SCRIPT/i3_xbacklight_notification.sh
    # Dunst compatibility: notification actions
    bindsym Ctrl+space       exec dunstctl close
    bindsym Ctrl+Shift+space exec dunstctl history-pop
    # Exit mode: "Enter", "Escape" or "Ctrl"+"[" (vim-like Escape)
    bindsym Return           mode "default"
    bindsym Escape           mode "default"
    bindsym Ctrl+bracketleft mode "default"
}
