# vim: syntax=i3
# ======================================================================================
# All About I3 Startup Commands/Programs
# ======================================================================================
# Following commands/programs will run after I3 starts

# Reload i3bar for applying pywal colorscheme properly
#exec --no-startup-id $I3_SCRIPT/i3_bar_operator.sh bar_reload

# Set output joint display automatically (HDMI1 connected or not).
# For more options, check the display mode in this configuration
exec --no-startup-id $I3_SCRIPT/i3_display_monitor_adopter.sh auto

# Gnome authentication (gnome software usage support)
exec_always --no-startup-id /usr/libexec/polkit-gnome-authentication-agent-1

# NetworkManager is the most popular way to manage wireless networks on Linux.
# Nm-applet is a desktop environment-independent system tray GUI for it.
exec_always --no-startup-id nm-applet

# Bluetooth Manager system tray GUI
exec_always --no-startup-id blueman-applet

# Startup numlock on [sudo dnf install numlockx]
exec_always --no-startup-id numlockx on

# Imwheel (modify mouse wheel speed)
exec --no-startup-id imwheel -b 45

# Mouse accerlation profile (xset support)
exec_always --no-startup-id xset m 10 2

# Short repeat key waiting time and faster repeat key rate (xset support)
exec_always --no-startup-id xset r rate 300 40

# Caplocks key remapping (setxkbmap support)
# -- Option 1 - Remap Caplock key to Ctrl
exec_always --no-startup-id setxkbmap -option "ctrl:nocaps"
# -- Option 2 - Swap Caplock key and Ctrl
#exec_always --no-startup-id setxkbmap -option "ctrl:swapcaps"

# Trackpad gesture (libinput-gesture support)
# -- https://github.com/bulletmark/libinput-gestures
# Need to be compiled manually
exec_always --no-startup-id libinput-gestures-setup start

# Ibus input method (ibus-chewing support)
# Note: Following lines must be added to .profile to set ibus as default input method
# --------------------------------------------------------------------------------------
# export GTK_IM_MODULE=ibus
# export XMODIFIER="@im=ibus"
# export QT_IM_MODULE=ibus
# export DefaultIMModule=ibus
# --------------------------------------------------------------------------------------
exec_always --no-startup-id ibus-daemon -r -d -x

# Parcellite (clipboard manager)
exec_always --no-startup-id parcellite

# Flash focus window [https://github.com/fennerm/flashfocus]
# Need compositor support (e.g. xcompmgr, picom, etc)
exec_always --no-startup-id $PYTHON_BIN/flashfocus

# Dunst (notification with wal color theme support)
exec --no-startup-id dunst &

# KDE Connect (connect to android smartphone) in background
exec --no-startup-id /usr/libexec/kdeconnectd &
exec --no-startup-id kdeconnect-indicator &

# Mailspring (email manager) in background
exec --no-startup-id mailspring --background

# Slack
exec --no-startup-id flatpak run com.slack.Slack -u

# Flameshot (screenshot tool) in background
exec --no-startup-id flameshot

# Neofetch initialization at startup
exec_always --no-startup-id rm -fr $HOME/.cache/thumbnails/neofetch

# Battery warning [https://github.com/rjekker/i3-battery-popup]
exec --no-startup-id $I3_SCRIPT/i3_battery-popup.sh -N -L 30

# Automark windows [https://github.com/lincheney/i3-automark]
# Modified to mark all windows with lowercase instead of original uppercase
exec_always --no-startup-id $I3_SCRIPT/i3_automark.py

# Dwindle layout (autotiling) [https://github.com/nwg-piotr/autotiling]
# For dwindle mode (tiling direction sequence: H -> V -> H -> V ...) support
# -- Installation: pip install autotiling
exec_always --no-startup-id $PYTHON_BIN/autotiling

# XSS-lock (screen lock)
# XSS-lock grabs a logind suspend inhibit lock and uses i3lock to lock the screen.
# Use loginctl lock-session to lock your screen.
exec_always --no-startup-id $I3_SCRIPT/i3_xsslock_operator.sh current
