# vim: syntax=i3
# ======================================================================================
# All About Workspace Settings
# ======================================================================================

# Back & Forth [DISABLED for i3-workspace-swap]
workspace_auto_back_and_forth no

# Switch focus to previous/next (new/free) workspace
bindsym Mod4+Tab            workspace next
bindsym Mod4+Shift+Tab      workspace prev
bindsym Mod4+grave          exec $I3_SCRIPT/i3_new_workspace.sh move_focus next
bindsym Mod4+Shift+grave    exec $I3_SCRIPT/i3_new_workspace.sh move_focus prev
bindsym Mod4+Mod1+Tab       exec $I3_SCRIPT/i3_new_workspace.sh move_focus next_free_only
bindsym Mod4+Mod1+Shift+Tab exec $I3_SCRIPT/i3_new_workspace.sh move_focus prev_free_only

# Swap focus/window with previous/next workspace
bindsym Mod4+Ctrl+Tab         workspace back_and_forth
bindsym Mod4+Ctrl+grave       exec $I3_SCRIPT/i3_workspace_operator.sh swap_next
bindsym Mod4+Ctrl+Shift+grave exec $I3_SCRIPT/i3_workspace_operator.sh swap_prev

# Assign window to previous/next (new/free) workspace
bindsym Mod1+grave            exec $I3_SCRIPT/i3_new_workspace.sh move_container next
bindsym Mod1+Shift+grave      exec $I3_SCRIPT/i3_new_workspace.sh move_container prev
bindsym Mod4+Mod1+grave       exec $I3_SCRIPT/i3_new_workspace.sh move_container next_free_only
bindsym Mod4+Mod1+Shift+grave exec $I3_SCRIPT/i3_new_workspace.sh move_container prev_free_only

# Gnome-like workspace operation
bindsym Ctrl+Mod1+Right       exec $I3_SCRIPT/i3_new_workspace.sh move_focus next
bindsym Ctrl+Mod1+Left        exec $I3_SCRIPT/i3_new_workspace.sh move_focus prev
bindsym Ctrl+Mod1+Shift+Right exec $I3_SCRIPT/i3_new_workspace.sh move_container next
bindsym Ctrl+Mod1+Shift+Left  exec $I3_SCRIPT/i3_new_workspace.sh move_container prev

# Move focus between output monitors ([/,/./])
bindsym Mod4+bracketleft  focus output up
bindsym Mod4+bracketright focus output down
bindsym Mod4+period       focus output right
bindsym Mod4+comma        focus output left

# Move window and focus between output monitors ({/</>/})
bindsym Mod4+Shift+bracketleft  move container to output up; focus output up
bindsym Mod4+Shift+bracketright move container to output down; focus output down
bindsym Mod4+Shift+period       move container to output right; focus output right
bindsym Mod4+Shift+comma        move container to output left; focus output left

# Move window between output monitors ({/</>/})
bindsym Mod4+Ctrl+Shift+bracketleft  move container to output up
bindsym Mod4+Ctrl+Shift+bracketright move container to output down
bindsym Mod4+Ctrl+Shift+period       move container to output right
bindsym Mod4+Ctrl+Shift+comma        move container to output left

# Move workspace between output monitors ([/,/./]), also focus moves
bindsym Ctrl+Mod1+bracketleft  move workspace to output up
bindsym Ctrl+Mod1+bracketright move workspace to output down
bindsym Ctrl+Mod1+period       move workspace to output right
bindsym Ctrl+Mod1+comma        move workspace to output left

# Move workspace between output monitors ([/,/./]) but focus stays
bindsym Ctrl+Mod1+Shift+bracketleft  move workspace to output up; focus output down
bindsym Ctrl+Mod1+Shift+bracketright move workspace to output down; focus output up
bindsym Ctrl+Mod1+Shift+period       move workspace to output right; focus output left
bindsym Ctrl+Mod1+Shift+comma        move workspace to output left; focus output right

# Define variables for names of default workspaces
set $ws1  "1:A1"
set $ws2  "2:A2"
set $ws3  "3:A3"
set $ws4  "4:A4"
set $ws5  "5:A5"
set $ws6  "6:A6"
set $ws7  "7:A7"
set $ws8  "8:A8"
set $ws9  "9:A9"
set $ws10 "10:A10"
set $ws11 "11:B1"
set $ws12 "12:B2"
set $ws13 "13:B3"
set $ws14 "14:B4"
set $ws15 "15:B5"
set $ws16 "16:B6"
set $ws17 "17:B7"
set $ws18 "18:B8"
set $ws19 "19:B9"
set $ws20 "20:B10"
set $ws21 "21:C1"
set $ws22 "22:C2"
set $ws23 "23:C3"
set $ws24 "24:C4"
set $ws25 "25:C5"
set $ws26 "26:C6"
set $ws27 "27:C7"
set $ws28 "28:C8"
set $ws29 "29:C9"
set $ws30 "30:C10"
set $ws31 "31:D1"
set $ws32 "32:D2"
set $ws33 "33:D3"
set $ws34 "34:D4"
set $ws35 "35:D5"
set $ws36 "36:D6"
set $ws37 "37:D7"
set $ws38 "38:D8"
set $ws39 "39:D9"
set $ws40 "40:D10"

# Assign workspace for quadra monitor (monitor1 + monitor2 + monitor3 + monitor4)
# monitor 1 (ws 1~10)
workspace $ws1  output $monitor1
workspace $ws2  output $monitor1
workspace $ws3  output $monitor1
workspace $ws4  output $monitor1
workspace $ws5  output $monitor1
workspace $ws6  output $monitor1
workspace $ws7  output $monitor1
workspace $ws8  output $monitor1
workspace $ws9  output $monitor1
workspace $ws10 output $monitor1
# monitor 2 (ws 11~20)
workspace $ws11 output $monitor2
workspace $ws12 output $monitor2
workspace $ws13 output $monitor2
workspace $ws14 output $monitor2
workspace $ws15 output $monitor2
workspace $ws16 output $monitor2
workspace $ws17 output $monitor2
workspace $ws18 output $monitor2
workspace $ws19 output $monitor2
workspace $ws20 output $monitor2
# monitor 3 (ws 21~30)
workspace $ws21 output $monitor3
workspace $ws22 output $monitor3
workspace $ws23 output $monitor3
workspace $ws24 output $monitor3
workspace $ws25 output $monitor3
workspace $ws26 output $monitor3
workspace $ws27 output $monitor3
workspace $ws28 output $monitor3
workspace $ws29 output $monitor3
workspace $ws30 output $monitor3
# monitor 4 (ws 31~40)
workspace $ws31 output $monitor4
workspace $ws32 output $monitor4
workspace $ws33 output $monitor4
workspace $ws34 output $monitor4
workspace $ws35 output $monitor4
workspace $ws36 output $monitor4
workspace $ws37 output $monitor4
workspace $ws38 output $monitor4
workspace $ws39 output $monitor4
workspace $ws40 output $monitor4

# Switch to workspace
bindsym Mod4+1   workspace $ws1
bindsym Mod4+2   workspace $ws2
bindsym Mod4+3   workspace $ws3
bindsym Mod4+4   workspace $ws4
bindsym Mod4+5   workspace $ws5
bindsym Mod4+6   workspace $ws6
bindsym Mod4+7   workspace $ws7
bindsym Mod4+8   workspace $ws8
bindsym Mod4+9   workspace $ws9
bindsym Mod4+0   workspace $ws10
bindsym Mod4+F1  workspace $ws11
bindsym Mod4+F2  workspace $ws12
bindsym Mod4+F3  workspace $ws13
bindsym Mod4+F4  workspace $ws14
bindsym Mod4+F5  workspace $ws15
bindsym Mod4+F6  workspace $ws16
bindsym Mod4+F7  workspace $ws17
bindsym Mod4+F8  workspace $ws18
bindsym Mod4+F9  workspace $ws19
bindsym Mod4+F10 workspace $ws20
bindsym Ctrl+F1  workspace $ws21
bindsym Ctrl+F2  workspace $ws22
bindsym Ctrl+F3  workspace $ws23
bindsym Ctrl+F4  workspace $ws24
bindsym Ctrl+F5  workspace $ws25
bindsym Ctrl+F6  workspace $ws26
bindsym Ctrl+F7  workspace $ws27
bindsym Ctrl+F8  workspace $ws28
bindsym Ctrl+F9  workspace $ws29
bindsym Ctrl+F10 workspace $ws30
bindsym Mod1+F1  workspace $ws31
bindsym Mod1+F2  workspace $ws32
bindsym Mod1+F3  workspace $ws33
bindsym Mod1+F4  workspace $ws34
bindsym Mod1+F5  workspace $ws35
bindsym Mod1+F6  workspace $ws36
bindsym Mod1+F7  workspace $ws37
bindsym Mod1+F8  workspace $ws38
bindsym Mod1+F9  workspace $ws39
bindsym Mod1+F10 workspace $ws40
# Workspace 21~40 [Additional winkey to show i3bar]
bindsym Mod4+Ctrl+F1  workspace $ws21
bindsym Mod4+Ctrl+F2  workspace $ws22
bindsym Mod4+Ctrl+F3  workspace $ws23
bindsym Mod4+Ctrl+F4  workspace $ws24
bindsym Mod4+Ctrl+F5  workspace $ws25
bindsym Mod4+Ctrl+F6  workspace $ws26
bindsym Mod4+Ctrl+F7  workspace $ws27
bindsym Mod4+Ctrl+F8  workspace $ws28
bindsym Mod4+Ctrl+F9  workspace $ws29
bindsym Mod4+Ctrl+F10 workspace $ws30
bindsym Mod4+Mod1+F1  workspace $ws31
bindsym Mod4+Mod1+F2  workspace $ws32
bindsym Mod4+Mod1+F3  workspace $ws33
bindsym Mod4+Mod1+F4  workspace $ws34
bindsym Mod4+Mod1+F5  workspace $ws35
bindsym Mod4+Mod1+F6  workspace $ws36
bindsym Mod4+Mod1+F7  workspace $ws37
bindsym Mod4+Mod1+F8  workspace $ws38
bindsym Mod4+Mod1+F9  workspace $ws39
bindsym Mod4+Mod1+F10 workspace $ws40

# Move focused container to workspace
bindsym Mod4+Shift+1   move container to workspace $ws1
bindsym Mod4+Shift+2   move container to workspace $ws2
bindsym Mod4+Shift+3   move container to workspace $ws3
bindsym Mod4+Shift+4   move container to workspace $ws4
bindsym Mod4+Shift+5   move container to workspace $ws5
bindsym Mod4+Shift+6   move container to workspace $ws6
bindsym Mod4+Shift+7   move container to workspace $ws7
bindsym Mod4+Shift+8   move container to workspace $ws8
bindsym Mod4+Shift+9   move container to workspace $ws9
bindsym Mod4+Shift+0   move container to workspace $ws10
bindsym Mod4+Shift+F1  move container to workspace $ws11
bindsym Mod4+Shift+F2  move container to workspace $ws12
bindsym Mod4+Shift+F3  move container to workspace $ws13
bindsym Mod4+Shift+F4  move container to workspace $ws14
bindsym Mod4+Shift+F5  move container to workspace $ws15
bindsym Mod4+Shift+F6  move container to workspace $ws16
bindsym Mod4+Shift+F7  move container to workspace $ws17
bindsym Mod4+Shift+F8  move container to workspace $ws18
bindsym Mod4+Shift+F9  move container to workspace $ws19
bindsym Mod4+Shift+F10 move container to workspace $ws20
bindsym Ctrl+Shift+F1  move container to workspace $ws21
bindsym Ctrl+Shift+F2  move container to workspace $ws22
bindsym Ctrl+Shift+F3  move container to workspace $ws23
bindsym Ctrl+Shift+F4  move container to workspace $ws24
bindsym Ctrl+Shift+F5  move container to workspace $ws25
bindsym Ctrl+Shift+F6  move container to workspace $ws26
bindsym Ctrl+Shift+F7  move container to workspace $ws27
bindsym Ctrl+Shift+F8  move container to workspace $ws28
bindsym Ctrl+Shift+F9  move container to workspace $ws29
bindsym Ctrl+Shift+F10 move container to workspace $ws30
bindsym Mod1+Shift+F1  move container to workspace $ws31
bindsym Mod1+Shift+F2  move container to workspace $ws32
bindsym Mod1+Shift+F3  move container to workspace $ws33
bindsym Mod1+Shift+F4  move container to workspace $ws34
bindsym Mod1+Shift+F5  move container to workspace $ws35
bindsym Mod1+Shift+F6  move container to workspace $ws36
bindsym Mod1+Shift+F7  move container to workspace $ws37
bindsym Mod1+Shift+F8  move container to workspace $ws38
bindsym Mod1+Shift+F9  move container to workspace $ws39
bindsym Mod1+Shift+F10 move container to workspace $ws40
# Workspace 21~40 [Additional winkey to show i3bar]
bindsym Mod4+Ctrl+Shift+F1  move container to workspace $ws21
bindsym Mod4+Ctrl+Shift+F2  move container to workspace $ws22
bindsym Mod4+Ctrl+Shift+F3  move container to workspace $ws23
bindsym Mod4+Ctrl+Shift+F4  move container to workspace $ws24
bindsym Mod4+Ctrl+Shift+F5  move container to workspace $ws25
bindsym Mod4+Ctrl+Shift+F6  move container to workspace $ws26
bindsym Mod4+Ctrl+Shift+F7  move container to workspace $ws27
bindsym Mod4+Ctrl+Shift+F8  move container to workspace $ws28
bindsym Mod4+Ctrl+Shift+F9  move container to workspace $ws29
bindsym Mod4+Ctrl+Shift+F10 move container to workspace $ws30
bindsym Mod4+Mod1+Shift+F1  move container to workspace $ws31
bindsym Mod4+Mod1+Shift+F2  move container to workspace $ws32
bindsym Mod4+Mod1+Shift+F3  move container to workspace $ws33
bindsym Mod4+Mod1+Shift+F4  move container to workspace $ws34
bindsym Mod4+Mod1+Shift+F5  move container to workspace $ws35
bindsym Mod4+Mod1+Shift+F6  move container to workspace $ws36
bindsym Mod4+Mod1+Shift+F7  move container to workspace $ws37
bindsym Mod4+Mod1+Shift+F8  move container to workspace $ws38
bindsym Mod4+Mod1+Shift+F9  move container to workspace $ws39
bindsym Mod4+Mod1+Shift+F10 move container to workspace $ws40
