# ======================================================================================
# All About Windows Settings
# ======================================================================================
# This is initial setup for all windows and floating windows in i3
# For windows role/class, run xprop to check

# Colors for windows
# [Comment below lines if you want original i3 container/workspace color setup]
# Color of border, background, text, indicator, and child_border based on Xresource

# Basic color combination
# -- Red (color1) + Green (color2)
# -- Yellow (color3) + Magenta (color5)
# -- Blue/Cyan (color4/color6) + Gray (color7)

# class                 border  backgr. text    indic.  child_border
client.focused          $c13    $c5     $c15    $c11    $c13
client.focused_inactive $c9     $c1     $c7     $c10    $c9
client.unfocused        $c1     $c1     $c7     $c12    $c1
client.urgent           $c0     $c15    $c0     $c15    $c0
client.placeholder      $c1     $c1     $c15    $c14    $c1
client.background               $c0

# Floating for assigned window_role
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

# Floating for assigned title
for_window [title="Preference$"] floating enable
for_window [title="Pages Unresponsive"] floating enable

# Floating for assigned class
for_window [class="VirtualBox"] floating enable
for_window [class="VirtualBox Machine"] floating disable
for_window [class="Nm-connection-editor"] floating enable
for_window [class="Blueman-manager"] floating enable
for_window [class="Pavucontrol"] floating enable
for_window [class="Org.gnome.DejaDup"] floating enable
for_window [class="Org.gnome.Dictionary"] floating enable
for_window [class="Org.gnome.Nautilus"] floating enable
for_window [class="Arandr"] floating enable
for_window [class="Gtk-tree-watch.pl"] floating enable
for_window [class="Gnome-calculator"] floating enable
for_window [class="kruler"] floating enable
for_window [class="matplotlib"] floating enable
for_window [class="Evince"] floating enable
for_window [class="Eog"] floating enable
for_window [class="Toplevel"] floating enable
for_window [class="Gnome-screenshot"] floating enable

# Floating for steam applications
for_window [class="Steam"] floating enable

# Sticky for floating window
for_window [title="Picture-in-Picture"] sticky enable

# Switch to workspace with urgent window automatically
for_window [urgent=latest] focus

# Window setting
# Switch focus to pop-up window
focus_on_window_activation smart
# Popups during fullscreen mode
popup_during_fullscreen smart
# Container split direction (option: horizontal, vertical, auto)
default_orientation auto
# Layout mode (option: default, stacking, tabbed)
workspace_layout default

# Window titlebar
# You can use any non-zero value if you would like to have a border (or 'normal')
# Available window frame options: width pixel (or 'normal')
# Comment out below lines to display title as default ('normal')
# -- Non-floating window
for_window [all] border $default_border_width
new_window $default_border_width
# -- Floating window
for_window [floating] border $default_border_width↵
new_float $default_border_width

# Border adjacent to screen border action
# -- none: never hide any border
# -- both: hide both vertical and horizontal border
# -- smart: hide edge border when there is only one window
hide_edge_borders none

# Set windows titlebar fontsize
font pango: DroidSansMono Nerd Font $default_titlebar_fontsize
for_window [all] title_format "%title"
for_window [all] title_window_icon padding 5px
title_align center
show_marks yes

# Mouse and floating windows
# Use Mouse+Mod4 to drag floating windows
floating_modifier Mod4
# Focus follow mouse cursor
focus_follows_mouse yes
# Put mouse cursor in the center of workspace
mouse_warping output
