# ~/.config/sway/config.d/sway_workspace_name.config
# vim: syntax=i3
# ======================================================================================
# All About Workspace Name
# ======================================================================================
# Define variables for names of default workspaces
# PLEASE DO NOT INSERT ANY EMPTY LINES BETWEEN FOLLOWING SET STATEMENTs

set $ws1 "1:A1"
set $ws2 "2:A2"
set $ws3 "3:A3"
set $ws4 "4:A4"
set $ws5 "5:A5"
set $ws6 "6:A6"
set $ws7 "7:A7"
set $ws8 "8:A8"
set $ws9 "9:A9"
set $ws10 "10:A0"
set $ws11 "11:B1"
set $ws12 "12:B2"
set $ws13 "13:B3"
set $ws14 "14:B4"
set $ws15 "15:B5"
set $ws16 "16:B6"
set $ws17 "17:B7"
set $ws18 "18:B8"
set $ws19 "19:B9"
set $ws20 "20:B0"
set $ws21 "21:C1"
set $ws22 "22:C2"
set $ws23 "23:C3"
set $ws24 "24:C4"
set $ws25 "25:C5"
set $ws26 "26:C6"
set $ws27 "27:C7"
set $ws28 "28:C8"
set $ws29 "29:C9"
set $ws30 "30:C0"
set $ws31 "31:D1"
set $ws32 "32:D2"
set $ws33 "33:D3"
set $ws34 "34:D4"
set $ws35 "35:D5"
set $ws36 "36:D6"
set $ws37 "37:D7"
set $ws38 "38:D8"
set $ws39 "39:D9"
set $ws40 "40:D0"
set $ws41 "41:E1"
set $ws42 "42:E2"
set $ws43 "43:E3"
set $ws44 "44:E4"
set $ws45 "45:E5"
set $ws46 "46:E6"
set $ws47 "47:E7"
set $ws48 "48:E8"
set $ws49 "49:E9"
set $ws50 "50:E0"
set $ws51 "51:F1"
set $ws52 "52:F2"
set $ws53 "53:F3"
set $ws54 "54:F4"
set $ws55 "55:F5"
set $ws56 "56:F6"
set $ws57 "57:F7"
set $ws58 "58:F8"
set $ws59 "59:F9"
set $ws60 "60:F0"
set $ws61 "61:G1"
set $ws62 "62:G2"
set $ws63 "63:G3"
set $ws64 "64:G4"
set $ws65 "65:G5"
set $ws66 "66:G6"
set $ws67 "67:G7"
set $ws68 "68:G8"
set $ws69 "69:G9"
set $ws70 "70:G0"
set $ws71 "71:H1"
set $ws72 "72:H2"
set $ws73 "73:H3"
set $ws74 "74:H4"
set $ws75 "75:H5"
set $ws76 "76:H6"
set $ws77 "77:H7"
set $ws78 "78:H8"
set $ws79 "79:H9"
set $ws80 "80:H0"
set $ws81 "81:I1"
set $ws82 "82:I2"
set $ws83 "83:I3"
set $ws84 "84:I4"
set $ws85 "85:I5"
set $ws86 "86:I6"
set $ws87 "87:I7"
set $ws88 "88:I8"
set $ws89 "89:I9"
set $ws90 "90:I0"
set $ws91 "91:J1"
set $ws92 "92:J2"
set $ws93 "93:J3"
set $ws94 "94:J4"
set $ws95 "95:J5"
set $ws96 "96:J6"
set $ws97 "97:J7"
set $ws98 "98:J8"
set $ws99 "99:J9"
set $ws100 "100:J0"
set $ws101 "101:K1"
set $ws102 "102:K2"
set $ws103 "103:K3"
set $ws104 "104:K4"
set $ws105 "105:K5"
set $ws106 "106:K6"
set $ws107 "107:K7"
set $ws108 "108:K8"
set $ws109 "109:K9"
set $ws110 "110:K0"
set $ws111 "111:L1"
set $ws112 "112:L2"
set $ws113 "113:L3"
set $ws114 "114:L4"
set $ws115 "115:L5"
set $ws116 "116:L6"
set $ws117 "117:L7"
set $ws118 "118:L8"
set $ws119 "119:L9"
set $ws120 "120:L0"
